<div class="YX-S-M-3311" id="">
	<div class="m-3311-inner">
		{{#goods_1.show_1}}
		<div class="m-3311-coupon" data-h55970f92group="goods_1">
				<div class="u-3311-coupon" data-h55970f92="bgImg_1">
					<img class="u-3311-bgImg"  src="{{goods_1.bgImg_1}}" data-original="{{goods_1.bgImg_1}}" alt="" class="J_lazyload">
					<div class="m-3311-couponContent-left">
						<div class="u-3311-couponBg" data-h55970f92="couponBg_1"><img src="{{goods_1.couponBg_1}}" data-original="{{goods_1.couponBg_1}}" class="J_lazyload"></div>
						<div class="u-3311-coupon-info">
							<p class="u-3311-coupon-val" data-h55970f92="couponVal_1">
								<span class="u-3311-desc">{{goods_1.couponVal_1}}</span>
							</p>
							<p class="u-3311-coupon-desc" data-h55970f92="couponDesc_1">
								{{goods_1.couponDesc_1}}
							</p>
							<div class="u-3311-link-wrap" data-h55970f92="couponBtnText_1"><a href="{{goods_1.couponLink_1}}" target="_blank" class="u-3311-btn" data-h55970f92="couponLink_1">{{goods_1.couponBtnText_1}}</a></div>
						</div>
					</div>
				</div>
		</div>
		{{/goods_1.show_1}}
		{{#goods_2.show_2}}
		<div class="m-3311-coupon" data-h55970f92group="goods_2">
			<div class="u-3311-coupon" data-h55970f92="bgImg_2">
				<img class="u-3311-bgImg" src="{{goods_2.bgImg_2}}" data-original="{{goods_2.bgImg_2}}" alt="" class="J_lazyload">
				<div class="m-3311-couponContent-right">
					<div class="u-3311-couponBg" data-h55970f92="couponBg_2"><img src="{{goods_2.couponBg_2}}" data-original="{{goods_2.couponBg_2}}" class="J_lazyload"></div>
					<div class="u-3311-coupon-info">
						<p class="u-3311-coupon-val" data-h55970f92="couponVal_2">
							<span class="u-3311-desc">{{goods_2.couponVal_2}}</span>
						</p>
						<p class="u-3311-coupon-desc" data-h55970f92="couponDesc_2">
							{{goods_2.couponDesc_2}}
						</p>
						<div class="u-3311-link-wrap" data-h55970f92="couponLink_2"><a href="{{goods_2.couponLink_2}}" target="_blank" class="u-3311-btn" data-h55970f92="couponBtnText_2">{{goods_2.couponBtnText_2}}</a></div>
					</div>
				</div>
			</div>
		</div>
		{{/goods_2.show_2}}
	</div>
	</div>
</div>