.YX-S-M-3311 {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: rgba(236, 226, 213, 0.62);
  overflow: hidden;
  zoom: 1;
}
.YX-S-M-3311 .m-3311-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.YX-S-M-3311 .m-3311-coupon {
  width: 100%;
  margin-bottom: 17px;
}
.YX-S-M-3311 .u-3311-coupon {
  position: relative;
  margin: 0 10px;
  height: 270px;
  overflow: hidden;
}
.YX-S-M-3311 .u-3311-coupon .u-3311-bgImg {
  border-radius: 8px;
}
.YX-S-M-3311 .m-3311-couponContent-right {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -86px;
  margin-right: 23px;
  width: 313px;
  height: 173px;
}
.YX-S-M-3311 .m-3311-couponContent-left {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -86px;
  margin-left: 23px;
  width: 313px;
  height: 173px;
}
.YX-S-M-3311 .u-3311-couponBg img {
  width: 100%;
  height: 100%;
}
.YX-S-M-3311 .u-3311-coupon-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 313px;
  height: 100%;
  text-align: center;
}
.YX-S-M-3311 .u-3311-coupon-val {
  height: 47px;
  color: #df3b5f;
  margin-top: 21px;
  font-size: 50px;
  line-height: 47px;
  font-family: '华文中宋';
  margin-bottom: 8px;
}
.YX-S-M-3311 .u-3311-coupon-desc {
  height: 24px;
  color: #333;
  padding: 0 10px;
  font-size: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: '华文细黑';
}
.YX-S-M-3311 .u-3311-btn {
  display: block;
  width: 175px;
  height: 42px;
  background: #df3b5f;
  color: #fff;
  margin: 14px auto 0;
  border-radius: 4px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
.YX-S-M-3311 .u-3311-tip {
  color: #666;
  font-size: 16px;
  line-height: 20px;
  margin: 10px auto 0;
}
.YX-S-M-3311-m {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: rgba(236, 226, 213, 0.62);
  overflow: hidden;
  zoom: 1;
}
.YX-S-M-3311-m .m-3311-inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}
.YX-S-M-3311-m .m-3311-coupon {
  width: 100%;
  margin-bottom: 9px;
}
.YX-S-M-3311-m .u-3311-coupon {
  position: relative;
  margin: 0 10px;
  height: 40vw;
  overflow: hidden;
}
.YX-S-M-3311-m .u-3311-coupon .u-3311-bgImg {
  border-radius: 8px;
  width: 100%;
}
.YX-S-M-3311-m .m-3311-couponContent-right {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -43px;
  margin-right: 23px;
  width: 156px;
  height: 86px;
}
.YX-S-M-3311-m .m-3311-couponContent-left {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -43px;
  margin-left: 23px;
  width: 156px;
  height: 86px;
}
.YX-S-M-3311-m .u-3311-couponBg img {
  width: 100%;
  height: 100%;
}
.YX-S-M-3311-m .u-3311-coupon-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 157px;
  height: 100%;
  text-align: center;
}
.YX-S-M-3311-m .u-3311-coupon-val {
  height: 23px;
  color: #df3b5f;
  margin-top: 10px;
  font-size: 25px;
  line-height: 23px;
  font-family: '华文中宋';
  margin-bottom: 4px;
}
.YX-S-M-3311-m .u-3311-coupon-desc {
  height: 12px;
  color: #333;
  padding: 0 5px;
  font-size: 12px;
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: '华文细黑';
}
.YX-S-M-3311-m .u-3311-btn {
  display: block;
  width: 86px;
  height: 21px;
  background: #df3b5f;
  color: #fff;
  margin: 7px auto 0;
  border-radius: 4px;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
}
