<div class="YX-N-M-4A12 m-section-module" id="{{contentInfo.anchar}}" data-h55970f92="anchar">
    <div class="J_module_info f-hide" style="display: none;">
        <div class="goodsId" data-goodsId="{{contentInfo.goodsId}}"></div>
        <div class="needScenePicUrl" data-needScenePicUrl="{{contentInfo.needScenePicUrl}}"></div>
    </div>
	<div class="m-4A12-inner">
		<div class="m-4A12-title" data-h55970f92="titleImg">
			<img src="{{contentInfo.titleImg}}" data-original="{{contentInfo.titleImg}}" class="J_lazyload">
		</div>
		<div class="m-4A12-goods" v-if="contentInfo.needScenePicUrl.value">
            {{#temp}}
			<div class="u-4A12-goods">
				<a href="http://you.163.com/item/detail?id={{id}}" target="_blank" class="u-4A12-link">
                    <img src="{{scenePicUrl}}" data-original="{{scenePicUrl}}" class="J_lazyload" />
                    <i></i>
                </a>
                {{#maker}}<span class="u-4A12-maker">{{maker}}</span>{{/maker}}
                <div class="m-4A12-info">
                	<p class="u-4A12-item-title"><a href="http://you.163.com/item/detail?id={{id}}" target="_blank">{{title}}</a></p>
                	<p class="u-4A12-item-desc">{{simpleDesc}}</p>
                	<div class="u-4A12-btn">
                		<span class="u-4A12-item-offPrice">{{retailPrice}}</span>
                		 <a href="http://you.163.com/item/detail?id={{id}}" target="_self" class="u-4A12-buy">立即购买&nbsp;&gt;</a>
                	</div>
                </div>
			</div>
            {{/temp}}
		</div>
        <div class="m-4A12-goods" v-if="!contentInfo.needScenePicUrl.value">
            {{#temp}}
            <div class="u-4A12-goods">
                <a href="http://you.163.com/item/detail?id={{id}}" target="_blank" class="u-4A12-link">
                    <img src="{{primaryPicUrl}}" data-original="{{primaryPicUrl}}" class="J_lazyload" />
                    <i></i>
                </a>
                {{#maker}}<span class="u-4A12-maker">{{maker}}</span>{{/maker}}
                <div class="m-4A12-info">
                    <p class="u-4A12-item-title"><a href="http://you.163.com/item/detail?id={{id}}" target="_blank">{{title}}</a></p>
                    <p class="u-4A12-item-desc">{{simpleDesc}}</p>
                    <div class="u-4A12-btn">
                        <span class="u-4A12-item-offPrice">{{retailPrice}}</span>
                         <a href="http://you.163.com/item/detail?id={{id}}" target="_self" class="u-4A12-buy">立即购买&nbsp;&gt;</a>
                    </div>
                </div>
            </div>
            {{/temp}}
        </div>
	</div>
</div>