<div class="YX-S-M-0CE9 m-section-module" style="background-image: url({{contentInfo.backgroundImage}});height:{{contentInfo.height}}" data-h55970f92="backgroundImage" data-h55970f92="height">
	<div class="m-0CE9-inner">
		<div class="m-0CE9-title" data-h55970f92="titleImage">
			<img src="{{contentInfo.titleImage}}" data-original="{{contentInfo.titleImage}}" class="u-0CE9-title J_lazyload"/>
		</div>
		<ul class="m-0CE9-detail">
			<li class="u-0CE9-detail" data-h55970f92="district1">
				<img src="{{contentInfo.district1}}" data-original="{{contentInfo.district1}}" class="J_lazyload">
			</li>
			<li class="u-0CE9-detail" data-h55970f92="district2">
				<img src="{{contentInfo.district2}}" data-original="{{contentInfo.district2}}" class="J_lazyload">
			</li>
			<li class="u-0CE9-detail" data-h55970f92="district3">
				<img src="{{contentInfo.district3}}" data-original="{{contentInfo.district3}}" class="J_lazyload">
			</li>
			<li class="u-0CE9-detail" data-h55970f92="district4">
				<img src="{{contentInfo.district4}}" data-original="{{contentInfo.district4}}" class="J_lazyload">
			</li>
			<li class="u-0CE9-detail" data-h55970f92="district5">
				<img src="{{contentInfo.district5}}" data-original="{{contentInfo.district5}}" class="J_lazyload">
			</li>
		</ul>
	</div>
</div>