.YX-N-M-B278 {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  zoom: 1;
}
.YX-N-M-B278 .m-B278-inner {
  position: relative;
  width: 604px;
  margin: 0 auto;
}
.YX-N-M-B278 .m-B278-title {
  padding: 90px 0 0;
}
.YX-N-M-B278 .m-B278-content {
  padding-top: 50px;
}
.YX-N-M-B278 .m-B278-list {
  display: block;
  width: 100%;
  overflow: hidden;
}
.YX-N-M-B278 .m-B278-list:after {
  content: '';
  display: table-cell;
  clear: both;
}
.YX-N-M-B278 .m-B278-list .u-B278-item {
  position: relative;
  float: left;
  width: 300px;
  margin-bottom: 4px;
  background: #f4f4f4;
}
.YX-N-M-B278 .m-B278-list .u-B278-item:nth-child(odd) {
  margin-right: 4px;
}
.YX-N-M-B278 .u-B278-item .u-B278-item-top {
  position: relative;
  width: 100%;
  height: 285px;
  overflow: hidden;
}
.YX-N-M-B278 .u-B278-item-top a {
  display: block;
  vertical-align: middle;
  text-align: center;
}
.YX-N-M-B278 .u-B278-item-top a img {
  display: inline-block;
  vertical-align: middle;
}
.YX-N-M-B278 .u-B278-item-top a i {
  display: inline-block;
  height: 285px;
  line-height: 285px;
  vertical-align: middle;
}
.YX-N-M-B278 .u-B278-item-top .u-B278-flag {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 40px;
  top: 10px;
  left: 10px;
  color: #c25757;
  border: 1px solid #c25757;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  z-index: 1;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-bottom {
  position: relative;
  text-align: center;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-bottom:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 0;
  width: 280px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-top: 1px dashed #d4d4d4;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-t {
  color: #333333;
  padding: 25px 10px 0;
  font-size: 24px;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-desc {
  position: relative;
  color: #898989;
  padding: 0 10px;
  font-size: 20px;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-maker {
  display: inline-block;
  position: relative;
  color: #898989;
  padding: 0 10px;
  font-size: 20px;
  line-height: 30px;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-maker:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 1px;
  background: #898989;
  top: 15px;
  left: -20px;
  z-index: 1;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-maker:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 1px;
  background: #898989;
  top: 15px;
  left: auto;
  right: -20px;
  z-index: 1;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-price {
  margin-top: 15px;
  font-size: 0;
  text-align: center;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-offPrice {
  display: inline-block;
  color: #9a3232;
  font-size: 40px;
  line-height: 40px;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-offPrice:before {
  content: '￥';
  font-size: 18px;
  line-height: 40px;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-unitPrice {
  display: inline-block;
  color: #999;
  margin-left: 5px;
  font-size: 18px;
  line-height: 40px;
  text-decoration: line-through;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-unitPrice:before {
  content: '￥';
  color: #999;
  font-size: 18px;
  line-height: 40px;
}
.YX-N-M-B278 .m-B278-list .u-B278-item-unitPrice:after {
  content: '*';
  color: #999;
  font-size: 18px;
  line-height: 40px;
}
.YX-N-M-B278 .m-B278-list .u-B278-btn {
  height: 42px;
  background: #9a3232;
  margin-top: 20px;
}
.YX-N-M-B278 .m-B278-list .u-B278-btn a {
  display: block;
  color: #fff;
  font-size: 24px;
  line-height: 42px;
  background: #9a3232;
}
@media only screen and (min-width: 320px) and (max-width: 357px) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (min-width: 357px) and (max-width: 375px) {
  html {
    font-size: 351.5625%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 400px) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 414px) {
  html {
    font-size: 390.625%;
  }
}
@media only screen and (min-width: 414px) and (max-width: 440px) {
  html {
    font-size: 404.2969%;
  }
}
@media only screen and (min-width: 440px) and (max-width: 480px) {
  html {
    font-size: 429.6875%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 520px) {
  html {
    font-size: 468.75%;
  }
}
@media only screen and (min-width: 520px) and (max-width: 560px) {
  html {
    font-size: 507.8125%;
  }
}
@media only screen and (min-width: 560px) and (max-width: 600px) {
  html {
    font-size: 546.875%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 640px) {
  html {
    font-size: 585.9375%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 680px) {
  html {
    font-size: 625%;
  }
}
@media only screen and (min-width: 680px) and (max-width: 720px) {
  html {
    font-size: 664.0625%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 760px) {
  html {
    font-size: 703.125%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 800px) {
  html {
    font-size: 742.1875%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
  html {
    font-size: 781.25%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 480px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-min-pixel-ratio: 3) and (orientation: portrait) {
  html {
    font-size: 404.2969%;
  }
}
@media (max-width: 960px) {
  .YX-N-M-B278 {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    zoom: 1;
  }
  .YX-N-M-B278 .m-B278-inner {
    position: relative;
    width: 6.04rem;
    margin: 0 auto;
  }
  .YX-N-M-B278 .m-B278-title {
    padding: .9rem 0 0;
  }
  .YX-N-M-B278 .m-B278-content {
    padding-top: .5rem;
  }
  .YX-N-M-B278 .m-B278-list {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .YX-N-M-B278 .m-B278-list:after {
    content: '';
    display: table-cell;
    clear: both;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item {
    position: relative;
    float: left;
    width: 3rem;
    margin-bottom: .04rem;
    background: #f4f4f4;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item:nth-child(odd) {
    margin-right: .04rem;
  }
  .YX-N-M-B278 .u-B278-item .u-B278-item-top {
    position: relative;
    width: 100%;
    height: 2.85rem;
    overflow: hidden;
  }
  .YX-N-M-B278 .u-B278-item-top a {
    display: block;
    vertical-align: middle;
    text-align: center;
  }
  .YX-N-M-B278 .u-B278-item-top a img {
    display: inline-block;
    vertical-align: middle;
  }
  .YX-N-M-B278 .u-B278-item-top a i {
    display: inline-block;
    height: 2.85rem;
    line-height: 2.85rem;
    vertical-align: middle;
  }
  .YX-N-M-B278 .u-B278-item-top .u-B278-flag {
    position: absolute;
    display: inline-block;
    width: .5rem;
    height: .4rem;
    top: .1rem;
    left: .1rem;
    color: #c25757;
    border: 1px solid #c25757;
    font-size: .24rem;
    line-height: .4rem;
    text-align: center;
    z-index: 1;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-bottom {
    position: relative;
    font-size: 0;
    text-align: center;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-bottom:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 0;
    width: 2.8rem;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-top: 1px dashed #d4d4d4;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-t {
    color: #333333;
    padding: .25rem .1rem 0;
    font-size: .24rem;
    line-height: .3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-price {
    margin-top: .15rem;
    font-size: 0;
    text-align: center;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-offPrice {
    display: inline-block;
    color: #9a3232;
    font-size: .4rem;
    line-height: .4rem;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-offPrice:before {
    content: '￥';
    font-size: .18rem;
    line-height: .4rem;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-unitPrice {
    display: inline-block;
    color: #999;
    margin-left: .05rem;
    font-size: .24rem;
    line-height: .4rem;
    text-decoration: line-through;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-unitPrice:before {
    content: '￥';
    color: #999;
    font-size: .24rem;
    line-height: .4rem;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-unitPrice:after {
    content: '*';
    color: #999;
    font-size: .24rem;
    line-height: .4rem;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-btn {
    height: .42rem;
    background: #9a3232;
    margin-top: .2rem;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-btn a {
    display: block;
    color: #fff;
    font-size: .24rem;
    line-height: .42rem;
    background: #9a3232;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-desc {
    position: relative;
    color: #898989;
    padding: 0 .1rem;
    font-size: .22rem;
    line-height: .3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-maker {
    position: relative;
    color: #898989;
    padding: 0 .1rem;
    font-size: .22rem;
    line-height: .3rem;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-maker:before {
    content: '';
    position: absolute;
    width: .16rem;
    height: 1px;
    background: #898989;
    top: .15rem;
    left: -0.2rem;
    z-index: 1;
  }
  .YX-N-M-B278 .m-B278-list .u-B278-item-maker:after {
    content: '';
    position: absolute;
    width: .16rem;
    height: 1px;
    background: #898989;
    top: .15rem;
    left: auto;
    right: -0.2rem;
    z-index: 1;
  }
}
