<div class="g-psc-bd"><content-view></content-view><edit-menu-view></edit-menu-view><modal-view></modal-view><pre-modal></pre-modal><tip-view></tip-view><div class="g-psc-loading-wrap" v-show="showLoading"><div class="loading-container"><div class="loading"></div><div id="loading-text">{{showLoadingText}}</div></div></div></div>