<div class="YX-S-M-20BC">
	<div class="m-20BC-inner" data-h55970f92="bgImage">
		<img src="{{contentInfo.bgImage}}" data-original="{{contentInfo.bgImage}}" class="J_lazyload"/>
		<div class="m-20BC-rule">
			<div class="m-20BC-rule-wrap">
				<p class="u-20BD-rule" data-h55970f92="title">{{contentInfo.title}}</p>
				<ul>
					{{#contentInfo.line1}}<li data-h55970f92="line1"><p>{{contentInfo.line1}}</p></li>{{/contentInfo.line1}}
					{{#contentInfo.line2}}<li data-h55970f92="line2"><p>{{contentInfo.line2}}</p></li>{{/contentInfo.line2}}
					{{#contentInfo.line3}}<li data-h55970f92="line3"><p>{{contentInfo.line3}}</p></li>{{/contentInfo.line3}}
					{{#contentInfo.line4}}<li data-h55970f92="line4"><p>{{contentInfo.line4}}</p></li>{{/contentInfo.line4}}
					{{#contentInfo.line5}}<li data-h55970f92="line5"><p>{{contentInfo.line5}}</p></li>{{/contentInfo.line5}}
					{{#contentInfo.line6}}<li data-h55970f92="line6"><p>{{contentInfo.line6}}</p></li>{{/contentInfo.line6}}
					{{#contentInfo.line7}}<li data-h55970f92="line7"><p>{{contentInfo.line7}}</p></li>{{/contentInfo.line7}}
					{{#contentInfo.line8}}<li data-h55970f92="line8"><p>{{contentInfo.line8}}</p></li>{{/contentInfo.line8}}
					{{#contentInfo.line9}}<li data-h55970f92="line9"><p>{{contentInfo.line9}}</p></li>{{/contentInfo.line9}}
				</ul>
			</div>
		</div>
	</div>
</div>