@media only screen and (min-width: 320px) and (max-width: 357px) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (min-width: 357px) and (max-width: 375px) {
  html {
    font-size: 351.5625%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 400px) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 414px) {
  html {
    font-size: 390.625%;
  }
}
@media only screen and (min-width: 414px) and (max-width: 440px) {
  html {
    font-size: 404.2969%;
  }
}
@media only screen and (min-width: 440px) and (max-width: 480px) {
  html {
    font-size: 429.6875%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 520px) {
  html {
    font-size: 468.75%;
  }
}
@media only screen and (min-width: 520px) and (max-width: 560px) {
  html {
    font-size: 507.8125%;
  }
}
@media only screen and (min-width: 560px) and (max-width: 600px) {
  html {
    font-size: 546.875%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 640px) {
  html {
    font-size: 585.9375%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 680px) {
  html {
    font-size: 625%;
  }
}
@media only screen and (min-width: 680px) and (max-width: 720px) {
  html {
    font-size: 664.0625%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 760px) {
  html {
    font-size: 703.125%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 800px) {
  html {
    font-size: 742.1875%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
  html {
    font-size: 781.25%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 480px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-min-pixel-ratio: 3) and (orientation: portrait) {
  html {
    font-size: 404.2969%;
  }
}
.YX-N-M-C1C5 {
  width: 640px;
  max-width: 640px;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Hiragino Sans GB W3', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  background: url(http://mimg.127.net/hz/uploader/20170223/14878245607360023.png) 0 0 repeat;
  font-size: 0;
}
.YX-N-M-C1C5 .m-C1C5-inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.YX-N-M-C1C5 .m-C1C5-goods {
  position: relative;
  top: 0;
  width: 640px;
  overflow: hidden;
}
.YX-N-M-C1C5 .m-C1C5-goods-right {
  position: absolute;
  top: 27px;
  right: 15px;
  display: inline-block;
  width: 317px;
  height: 456px;
  background-repeat: no-repeat;
}
.YX-N-M-C1C5 .m-C1C5-goods .u-C1C5-goods {
  position: relative;
  top: 52px;
  display: inline-block;
  width: 255px;
  min-height: 390px;
  margin: 0 32px 65px 32px;
  text-align: center;
}
.YX-N-M-C1C5 .u-C1C5-goods:nth-child(2n) {
  margin-left: 34px;
}
.YX-N-M-C1C5 .u-C1C5-goods:nth-child(2) {
  margin-right: 400px;
  margin-left: 32px;
}
.YX-N-M-C1C5 .m-C1C5-goods .u-C1C5-link {
  display: block;
  width: 255px;
  height: 255px;
  overflow: hidden;
}
.YX-N-M-C1C5 .u-C1C5-goods img {
  display: block;
  width: 255px;
  height: 255px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.YX-N-M-C1C5 .u-C1C5-goods img:hover {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.YX-N-M-C1C5 .u-C1C5-goods .m-C1C5-goods-info {
  position: relative;
  width: 100%;
  margin-top: 22px;
  text-align: center;
}
.YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-t {
  width: 240px;
  color: #333;
  margin: 0 auto;
  font-size: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-t a {
  color: #333;
}
.YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-t a:hover {
  color: #b39565;
}
.YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-maker {
  width: 208px;
  color: #aaa;
  margin: 12px auto 4px;
  font-size: 18px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-price {
  width: 208px;
  margin: 0 auto 12px;
}
.YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-offPrice {
  display: inline-block;
  color: #b39565;
  font-size: 24px;
}
.YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-offPrice:before {
  content: "￥";
  color: #b39565;
  font-size: 18px;
}
.YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-unitPrice {
  display: inline-block;
  color: #a5a5a5;
  font-size: 18px;
  text-decoration: line-through;
}
.YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-unitPrice:before {
  content: "￥";
  color: #a5a5a5;
  font-size: 18px;
}
.YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-unitPrice:after {
  content: "*";
  color: #a5a5a5;
  font-size: 18px;
}
.YX-N-M-C1C5 .m-C1C5-btn {
  width: 208px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.YX-N-M-C1C5 .m-C1C5-btn .u-C1C5-btn {
  display: inline-block;
  width: 154px;
  height: 39px;
  color: #fff;
  background: #b39565;
  margin-right: 18px;
  border-radius: 3px;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  vertical-align: middle;
}
.YX-N-M-C1C5 .m-C1C5-btn .u-C1C5-cart {
  display: inline-block;
  width: 29px;
  height: 29px;
  background: url(http://mimg.127.net/hz/uploader/20170221/14876557098660008.png) no-repeat center center;
  text-align: center;
  vertical-align: middle;
}
.YX-N-M-C1C5 .f-hide {
  display: none;
}
@media (max-width: 960px) {
  .YX-N-M-C1C5 {
    position: relative;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Hiragino Sans GB W3', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    background: url(http://mimg.127.net/hz/uploader/20170223/14878245607360023.png) 0 0 repeat;
  }
  .YX-N-M-C1C5 .m-C1C5-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .YX-N-M-C1C5 .m-C1C5-goods {
    position: relative;
    top: 0;
    width: 6.4rem;
    overflow: hidden;
  }
  .YX-N-M-C1C5 .m-C1C5-goods-right {
    position: absolute;
    top: 0.27rem;
    right: 0.15rem;
    display: inline-block;
    width: 3.17rem;
    height: 4.56rem;
    background-repeat: no-repeat;
  }
  .YX-N-M-C1C5 .m-C1C5-goods .u-C1C5-goods {
    position: relative;
    top: 0.52rem;
    display: inline-block;
    width: 2.55rem;
    min-height: 3.9rem;
    margin: 0 0.32rem 0.65rem 0.32rem;
    text-align: center;
  }
  .YX-N-M-C1C5 .u-C1C5-goods:nth-child(2n) {
    margin-left: 0.34rem;
  }
  .YX-N-M-C1C5 .u-C1C5-goods:nth-child(2) {
    margin-right: 4rem;
    margin-left: 0.32rem;
  }
  .YX-N-M-C1C5 .m-C1C5-goods .u-C1C5-link {
    display: block;
    width: 2.55rem;
    height: 2.55rem;
    overflow: hidden;
  }
  .YX-N-M-C1C5 .u-C1C5-goods img {
    display: block;
    width: 2.55rem;
    height: 2.55rem;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .YX-N-M-C1C5 .u-C1C5-goods img:hover {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  .YX-N-M-C1C5 .u-C1C5-goods .m-C1C5-goods-info {
    position: relative;
    width: 100%;
    margin-top: 0.22rem;
    text-align: center;
  }
  .YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-t {
    width: 2.40rem;
    color: #333;
    margin: 0 auto;
    font-size: 0.24rem;
    line-height: 0.24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-t a {
    color: #333;
  }
  .YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-t a:hover {
    color: #b39565;
  }
  .YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-maker {
    width: 2.08rem;
    color: #aaa;
    margin: 0.12rem auto 0.04rem;
    font-size: 0.18rem;
    line-height: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0.3rem;
  }
  .YX-N-M-C1C5 .m-C1C5-goods-info .u-C1C5-goods-price {
    width: 2.08rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto 0.12rem;
    text-align: center;
  }
  .YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-offPrice {
    display: inline-block;
    color: #b39565;
    font-size: 0.24rem;
  }
  .YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-offPrice:before {
    content: "￥";
    color: #b39565;
    font-size: 0.18rem;
  }
  .YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-unitPrice {
    display: inline-block;
    color: #a5a5a5;
    font-size: 0.18rem;
    text-decoration: line-through;
  }
  .YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-unitPrice:before {
    content: "￥";
    color: #a5a5a5;
    font-size: 0.18rem;
  }
  .YX-N-M-C1C5 .u-C1C5-goods-price .u-C1C5-unitPrice:after {
    content: "*";
    color: #a5a5a5;
    font-size: 0.18rem;
  }
  .YX-N-M-C1C5 .m-C1C5-btn {
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 2.4rem;
    color: #aaa;
    font-size: 0.18rem;
    line-height: 0.18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .YX-N-M-C1C5 .m-C1C5-btn .u-C1C5-btn {
    display: inline-block;
    width: 1.54rem;
    height: 0.39rem;
    color: #fff;
    background: #b39565;
    margin-right: 0.18rem;
    border-radius: 3px;
    font-size: 0.24rem;
    line-height: 0.39rem;
    text-align: center;
    vertical-align: middle;
  }
  .YX-N-M-C1C5 .m-C1C5-btn .u-C1C5-cart {
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background: url(http://mimg.127.net/hz/uploader/20170221/14876557098660008.png) no-repeat center center;
    background-size: 100% auto;
    text-align: center;
    vertical-align: middle;
  }
  .YX-N-M-C1C5 .f-hide {
    display: none;
  }
}
