<div class="YX-S-M-F5F5 m-section-module" data-h55970f92="bannerImage"><div class="J_module_info" style="display: none"><div class="coupon" data-coupon="{{contentInfo.coupon}}"></div><div class="couponLink" data-couponlink="{{contentInfo.couponLink}}"></div><div class="popBg" data-popbg="{{contentInfo.popBg}}"></div><div class="ajaxLink" data-ajaxlink="{{contentInfo.ajaxLink}}"></div></div><div class="m-F5F5-img-wrap" data-h55970f92="link">{{#contentInfo.couponLink}} <a href="{{contentInfo.couponLink}}" target="_blank"><img src="{{contentInfo.bannerImage}}" data-original="{{contentInfo.bannerImage}}" class="J_lazyload J_needImage"> </a>{{/contentInfo.couponLink}} {{^contentInfo.couponLink}} <a href="javascript:;" target="_self" class="J_F5F5_getCoupon"><img src="{{contentInfo.bannerImage}}" data-original="{{contentInfo.bannerImage}}" class="J_lazyload J_needImage"> </a>{{/contentInfo.couponLink}}</div></div>