<div class="YX-S-M-4FDB" style="background: {{contentInfo.bgColor}}" data-h55970f92="bgColor">
	{{#contentInfo.tip}}<p data-h55970f92="tip">{{contentInfo.tip}}</p>{{/contentInfo.tip}}
	<div class="m-4FDB-inner" style="height: {{contentInfo.height}}px" data-height="{{contentInfo.height}}" data-h55970f92="height">
	</div>
</div>