<div class="YX-S-M-51E1" style="background-color: {{contentInfo.bgColor}};" data-h55970f92="bgColor">
	<div class="m-51E1-inner">
		<a href="{{contentInfo.link}}" target="_blank" data-h55970f92="link">
			<span data-h55970f92="tip" class="u-51E1-tip">{{contentInfo.tip}}</span><span>></span>
		</a>
	</div>
</div>