<div class="YX-S-M-0AA8"><div class="m-0AA8-inner">{{#contentInfo.title}}<div class="u-0AA8-title" data-h55970f92="title"><h2>{{contentInfo.title}}</h2></div>{{/contentInfo.title}}<div class="m-0AA8-inner-tip">{{#contentInfo.tip1}}<p data-h55970f92="tip1">{{contentInfo.tip1}}</p>{{/contentInfo.tip1}} {{#contentInfo.tip2}}<p data-h55970f92="tip2">{{contentInfo.tip2}}</p>{{/contentInfo.tip2}} {{#contentInfo.tip3}}<p data-h55970f92="tip3">{{contentInfo.tip3}}</p>{{/contentInfo.tip3}} {{#contentInfo.tip4}}<p data-h55970f92="tip4">{{contentInfo.tip4}}</p>{{/contentInfo.tip4}} {{#contentInfo.tip5}}<p data-h55970f92="tip5">{{contentInfo.tip5}}</p>{{/contentInfo.tip5}} {{#contentInfo.tip6}}<p data-h55970f92="tip6">{{contentInfo.tip6}}</p>{{/contentInfo.tip6}} {{#contentInfo.tip7}}<p data-h55970f92="tip7">{{contentInfo.tip7}}</p>{{/contentInfo.tip7}}</div></div></div>