<div class="m-nav-con" style="background-image:url({{style.bg}})">
	<div class="m-nav">
		<a class="u-btn-fav J_collect" href="javacsript:;" style="background-image:url({{style.collectionBg}})"></a>
        <div class="m-process-box">
            <div class="u-line">
                <div class="cur"></div>
            </div>
            <ul class="m-process-item f-cb">
                <li class="u-item u-item-1">
                    <p class="tlt">{{tlt1}}</p>
                    <p class="tip">{{tip1}}</p>
                    <div class="icon"><span class="i1" style="background-image:url({{style.i1}})"></span></div>
                </li>
                <li class="u-item u-item-2">
                    <p class="tlt">{{tlt2}}</p>
                    <p class="tip">{{tip2}}</p>
                    <div class="icon"><span class="i2" style="background-image:url({{style.i2}})"></span></div>
                </li>
                <li class="u-item u-item-3">
                    <p class="tlt">{{tlt3}}</p>
                    <p class="tip">{{tip3}}</p>
                    <div class="icon"><span class="i3" style="background-image:url({{style.i3}})"></span></div>
                </li>
                <li class="u-item u-item-4">
                    <p class="tlt"><span class="label">&nbsp;</span>{{tlt4}}</p>
                    <p class="tip">{{tip4}}</p>
                    <div class="icon f-icon"><span class="i4" style="background-image:url({{style.i4}})"></span></div>
                </li>
            </ul>
        </div>
        <a class="u-btn-share J_share" href="javascript:;" style="background-image:url({{style.shareBg}})"></a>
	</div>
</div>