.YX-N-M-7A5D {
  width: 100%;
  background: #f7f3e8;
  overflow: hidden;
  font-family: 'Hiragino Sans GB W3', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}
.YX-N-M-7A5D .m-7A5D-goods {
  width: 995px;
  padding: 75px 0;
  margin: 0 auto;
  overflow: hidden;
}
.YX-N-M-7A5D .m-7A5D-goods-right {
  display: inline-block;
  float: left;
  width: 211px;
  height: 699px;
  background-repeat: no-repeat;
}
.YX-N-M-7A5D .m-goods-list {
  display: inline-block;
  float: left;
  width: 779px;
  padding: 0;
  margin: 0;
}
.YX-N-M-7A5D .m-goods-list:before,
.YX-N-M-7A5D .m-goods-list:after {
  display: table;
  line-height: 0;
  content: '';
}
.YX-N-M-7A5D .m-goods-list li {
  display: inline-block;
  float: left;
}
.YX-N-M-7A5D .m-goods-list li:nth-child(n+4) {
  margin-top: 30px;
}
.YX-N-M-7A5D .m-goods-list .u-item {
  width: 224px;
  margin-right: 28px;
  border: 2px solid #f4f4f4;
  background-color: #f4f4f4;
  overflow: hidden;
}
.YX-N-M-7A5D .m-goods-list .u-item:hover {
  border-color: #f1586e;
}
.YX-N-M-7A5D .m-goods-list .u-item-img {
  position: relative;
  width: 224px;
  height: 220px;
  border-bottom: 1px dotted #e2e1e1;
  overflow: hidden;
}
.YX-N-M-7A5D .m-goods-list .u-icon {
  position: absolute;
  z-index: 3;
  top: 8px;
  left: 8px;
}
.YX-N-M-7A5D .m-goods-list .u-tip-icon {
  display: table-cell;
  width: 55px;
  height: 55px;
  color: #f1677b;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid #f1677b;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
}
.YX-N-M-7A5D .m-goods-list .u-item-img img {
  position: absolute;
  width: 224px;
  height: 220px;
  top: 0;
  left: 0;
  z-index: 2;
}
.YX-N-M-7A5D .m-goods-list .u-item-name {
  padding-top: 15px;
  text-align: center;
}
.YX-N-M-7A5D .m-goods-list .f-fontSize-16 {
  display: block;
  color: #666;
  font-size: 16px;
}
.YX-N-M-7A5D .m-goods-list .f-fontSize-14 {
  display: block;
  color: #999;
  font-size: 14px;
}
.YX-N-M-7A5D .m-goods-list .u-item-prize {
  color: #333;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 22px;
  text-align: center;
}
.YX-N-M-7A5D .m-goods-list .u-yen {
  display: inline-block;
  font-style: normal;
}
.YX-N-M-7A5D .m-goods-list .u-yen:before {
  content: '￥';
  font-size: 12px;
}
.YX-N-M-7A5D .m-goods-list .u-del {
  display: inline-block;
  color: #999;
  margin-left: 5px;
  font-size: 14px;
  font-style: normal;
  text-decoration: line-through;
}
.YX-N-M-7A5D .m-goods-list .u-yen:before {
  content: '￥';
  font-size: 12px;
}
.YX-N-M-7A5D .m-goods-list .u-btn {
  display: inline-block;
  width: 81px;
  height: 22px;
  color: #fff;
  margin-left: 10px;
  background-color: #f1586e;
  font-size: 13px;
  line-height: 22px;
}
.YX-N-M-7A5D .u-btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: 0;
}
.YX-N-M-7A5D .f-hide {
  display: none;
}
