<div class="YX-N-M-7A5D m-section-module" style="background:{{contentInfo.bgColor}}">
	<div class="J_module_info f-hide">
		<div class="goodsId" data-goodsId="{{contentInfo.goodsId}}"></div>
	</div>
	<div class="m-7A5D-goods">
		<ul class="m-goods-list">
			{{#temp}}
                <li class="f-inline">
                    <div class="u-item">
                        <div class="u-item-img">
                            <div class="u-icon">
                                <i class="u-tip-icon">{{extend.tip_key}}</i>
                            </div>
                            <a href="http://you.163.com/item/detail?id={{id}}&_stat_subject=" class="PSC_J_normal_statistics_Goods" target="_blank">
                                <img class="lazy" src="{{primaryPicUrl}}" style="display: block;">
                            </a>
                        </div>
                        <div class="u-item-name">
                            <span class="f-fontSize-16">{{title}}</span>
                            <span class="f-fontSize-14">{{simpleDesc}}</span>
                        </div>
                        <div class="u-item-prize">
                            <span>
                                <i class="u-yen">{{retailPrice}}</i>
                                <i class="u-del">{{unitPrice}}</i>
                            </span>
                            <button type="button" data-skuid="{{id}}" data-img="{{primaryPicUrl}}" class="u-btn J-addCart PSC_J_normal_statistics_Goods">加入购物车</button>
                        </div>
                    </div>
                </li>
            {{/temp}} 
		</ul>
        <div class="m-7A5D-goods-right" style="background-image:url({{contentInfo.backgroundImage}})" data-h55970f92="backgroundImage"></div>
	</div>
</div>