<div class="YX-S-M-BFA7">
    <div class="m-BFA7-inner">
        <div class="m-BFA7-title-wrap" data-h55970f92="title"><div class="m-BFA7-title">{{contentInfo.title}}</div></div>
        <div class="m-BFA7-content">
            <ul>
                {{#contentInfo.link1}}<li data-h55970f92="link1"><a href="{{contentInfo.link1}}" target="_blank" data-h55970f92="tip1">{{contentInfo.tip1}}</a></li>
                {{/contentInfo.link1}}
                {{#contentInfo.link2}}<li data-h55970f92="link2"><a href="{{contentInfo.link2}}" target="_blank" data-h55970f92="tip2">{{contentInfo.tip2}}</a></li>
                {{/contentInfo.link2}}
                {{#contentInfo.link3}}<li data-h55970f92="link3"><a href="{{contentInfo.link3}}" target="_blank" data-h55970f92="tip3">{{contentInfo.tip3}}</a></li>
                {{/contentInfo.link3}}
                {{#contentInfo.link4}}<li data-h55970f92="link4"><a href="{{contentInfo.link4}}" target="_blank" data-h55970f92="tip4">{{contentInfo.tip4}}</a></li>
                {{/contentInfo.link4}}
                {{#contentInfo.link5}}<li data-h55970f92="link5"><a href="{{contentInfo.link5}}" target="_blank" data-h55970f92="tip5">{{contentInfo.tip5}}</a></li>
                {{/contentInfo.link5}}
                {{#contentInfo.link6}}<li data-h55970f92="link6"><a href="{{contentInfo.link6}}" target="_blank" data-h55970f92="tip6">{{contentInfo.tip6}}</a></li>
                {{/contentInfo.link6}}
            </ul>
        </div>
    </div>
</div>