{{#contentInfo.dotImage}}
<div class="YX-S-M-97D8 m-section-module" style="background-color: {{contentInfo.bgColor}}; height: {{contentInfo.height}}px;" data-height="{{contentInfo.height}}" data-h55970f92="height">
	<div class="m-97D8-inner-wrap" data-h55970f92="bgColor">
		<div class="m-97D8-inner" data-h55970f92="dotImage"> 
			<img src="{{contentInfo.dotImage}}" data-original="{{contentInfo.dotImage}}" class="J_lazyload">
			<i class="i-97D8-dot"></i>
		</div>
	</div>
</div>
{{/contentInfo.dotImage}}