<div class="YX-S-M-CF55 m-section-module">
    <div class="J_module_info f-CF55-hide" style="display: none;">
        <div class="goodsId" data-goodsId="{{contentInfo.goodsId}}"></div>
        <div class="needScenePicUrl" data-needScenePicUrl="{{contentInfo.needScenePicUrl}}"></div>
        <div class="itemsOnPage" data-itemsOnPage="{{contentInfo.itemsOnPage}}"></div>
        <div class="topic" data-topic="{{contentInfo.topic}}"></div>
        <div class="qrcodeLink" data-qrcodeLink="{{contentInfo.qrcodeLink}}"></div>
        <div class="maxPrice" data-maxPrice="{{contentInfo.maxPrice}}"></div>
        <div class="makerNumber" data-makerNumber="{{contentInfo.makerNumber}}"></div>
        <div class="hotMakerImg1" data-hotMakerImg1="{{contentInfo.hotMakerImg1}}"></div>
        <div class="hotMakerImg2" data-hotMakerImg2="{{contentInfo.hotMakerImg2}}"></div>
        <div class="hotMakerImg3" data-hotMakerImg3="{{contentInfo.hotMakerImg3}}"></div>
        <div class="hotMakerImg4" data-hotMakerImg4="{{contentInfo.hotMakerImg4}}"></div>
        <div class="hotMakerImg5" data-hotMakerImg5="{{contentInfo.hotMakerImg5}}"></div>
        <div class="hotMakerImg6" data-hotMakerImg6="{{contentInfo.hotMakerImg6}}"></div>
    </div>
    <div class="g-CF55-bd ">
        <div class="g-CF55-part" id="moreGoods">
            <div class="g-CF55-in">
                <div class="u-filter">
                    <div class="row">
                        <h2>类目<span class="u-filter-close J_type_reset"></span></h2>
                        <ul class="u-goods-type J_goods_type">
                     
                        </ul>
                    </div>
                    <hr style="margin: 24px auto;border: none;border-top: 1px solid #f6f6f6;" width="100%" SIZE=1>
                    <div class="row">
                        <h2>价格范围<span class="u-filter-close J_range_reset"></span></h2>
                        <div class="u-price-range">
                            <div id="connect" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                <div class="noUi-base">
                                    <div class="noUi-origin noUi-connect" style="left: 0%;">
                                        <div class="noUi-handle noUi-handle-lower"></div>
                                    </div>
                                    <div class="noUi-origin noUi-background" style="left: 100%;">
                                        <div class="noUi-handle noUi-handle-upper"></div>
                                    </div>
                                    <div class="connect" style="left: 0%; right: 0%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-price-text">
                            <span class="priceStart">&yen;<span class="price">0</span></span>
                            <span class="priceEnd">&yen;<span class="price">{{contentInfo.maxPrice}}</span></span>
                        </div>
                    </div>
                    <hr style="margin: 24px auto;border: none;border-top: 1px solid #f6f6f6;" width="100%" SIZE=1>
                    <div class="row">
                        <h2>新品<span class="u-filter-close J_recommand_reset"></span></h2>
                        <ul class="u-goods-recommand J_goods_recommand">
                            <li class="" data-type="0"><a href="javascript:;">新品</a></li>
                            <li class="" data-type="1"><a href="javascript:;">编辑推荐</a></li>
                        </ul>
                    </div>
                    <hr style="margin: 24px auto;border: none;border-top: 1px solid #f6f6f6;" width="100%" SIZE=1>
                    <div class="row">
                        <h2>制造商<span class="u-filter-close J_maker_reset"></span></h2>
                        <ul class="u-goods-maker J_goods_maker">
                            {{#contentInfo.hotMakerImg1}}
                            <li data-h55970f92="hotMakerImg1">
                                <a href="javascript:;"><img class="hotMakerImg" src="{{contentInfo.hotMakerImg1}}" data-original="{{contentInfo.hotMakerImg1}}" class="u-goods-makerImg J_lazyload">
                                    <div class="u-goodsMakerModal"></div>
                                    <div class="u-goodsMakerDesc">MUJI制造商</div>
                                </a>
                            </li>
                            {{/contentInfo.hotMakerImg1}} {{#contentInfo.hotMakerImg2}}
                            <li data-h55970f92="hotMakerImg2">
                                <a href="javascript:;"><img class="hotMakerImg" src="{{contentInfo.hotMakerImg2}}" data-original="{{contentInfo.hotMakerImg2}}" class="u-goods-makerImg J_lazyload">
                                    <div class="u-goodsMakerModal"></div>
                                    <div class="u-goodsMakerDesc">Ralph Lauren制造商</div>
                                </a>
                            </li>
                            {{/contentInfo.hotMakerImg2}} {{#contentInfo.hotMakerImg3}}
                            <li data-h55970f92="hotMakerImg3">
                                <a href="javascript:;"><img class="hotMakerImg" src="{{contentInfo.hotMakerImg3}}" data-original="{{contentInfo.hotMakerImg3}}" class="u-goods-makerImg J_lazyload">
                                    <div class="u-goodsMakerModal"></div>
                                    <div class="u-goodsMakerDesc">Coach 制造商</div>
                                </a>
                            </li>
                            {{/contentInfo.hotMakerImg3}} {{#contentInfo.hotMakerImg4}}
                            <li data-h55970f92="hotMakerImg4">
                                <a href="javascript:;"><img class="hotMakerImg" src="{{contentInfo.hotMakerImg4}}" data-original="{{contentInfo.hotMakerImg4}}" class="u-goods-makerImg J_lazyload">
                                    <div class="u-goodsMakerModal"></div>
                                    <div class="u-goodsMakerDesc">爱慕制造商</div>
                                </a>
                            </li>
                            {{/contentInfo.hotMakerImg4}} {{#contentInfo.hotMakerImg5}}
                            <li data-h55970f92="hotMakerImg5">
                                <a href="javascript:;"><img class="hotMakerImg" src="{{contentInfo.hotMakerImg5}}" data-original="{{contentInfo.hotMakerImg5}}" class="u-goods-makerImg J_lazyload">
                                    <div class="u-goodsMakerModal"></div>
                                    <div class="u-goodsMakerDesc">WPC制造商</div>
                                </a>
                            </li>
                            {{/contentInfo.hotMakerImg5}} {{#contentInfo.hotMakerImg6}}
                            <li data-h55970f92="hotMakerImg6">
                                <a href="javascript:;"><img class="hotMakerImg" src="{{contentInfo.hotMakerImg6}}" data-original="{{contentInfo.hotMakerImg6}}" class="u-goods-makerImg J_lazyload">
                                    <div class="u-goodsMakerModal"></div>
                                    <div class="u-goodsMakerDesc">Adidas制造商</div>
                                </a>
                            </li>
                            {{/contentInfo.hotMakerImg6}}
                        </ul>
                    </div>
                    {{#contentInfo.qrcodeBg}}
                    <div class="row" style="position:relative;" data-h55970f92="qrcodeBg">
                        <img class="u-goods-qrcodebg" src="{{contentInfo.qrcodeBg}}">
                        <div class="code-box">
                            <div class="J_code u-code"><img src="http://you.163.com/act/pre/hdapi/commonapi/ajax/genQRCode.do?size=200&text={{contentInfo.qrcodeLink}}"></div>
                            <div class="mask J_codeMask"></div>
                            <a href="javascript:;" class="u-btn btn-yellow J_codeLogin">登 录</a>
                        </div>
                    </div>
                    {{/contentInfo.qrcodeBg}}
                </div>
                <div class="m-goodsPart">
                    <div class="m-titleBar">
                        <a href="javascript:;" class="m-title-left J_title_filter"><span class="f-font-red J_goods_count"></span>个相关产品
                        </a>
                        <div class="m-title-right">
                            <a href="javascript:;" data-type="0" class="u-order J_order ">人气<span class="f-triangle-down"></span></a>
                            <a href="javascript:;" data-type="1" class="u-order J_order active">销量<span class="f-triangle-down"></span></a>
                            <a href="javascript:;" class="u-order J_order_prize down">价格<span class="f-triangle-updown"></span></a>
                        </div>
                    </div>
                    <ul class="m-goodsList" v-if="!contentInfo.needScenePicUrl.value">
                        {{#temp}}
                        <li class="u-goods">
                            <div class="u-goodsImg">
                                <div class="u-maker">{{maker}}</div><img src="{{primaryPicUrl}}" data-original="{{primaryPicUrl}}" class="J_lazyload" style="display: inline;">
                                <div class="u-goodsOptModal"></div>
                                <div class="u-goodsOpt"><a target="_blank" href="http://you.163.com/item/detail?id={{id}}&amp;_stat_subject=" class="u-btn-check J_btn_check"><span class="checkIcon"></span>查看详情</a><a href="javascript:;" class="u-btn-cart J_btn_cart"><span class="cartIcon"></span>加入购物车</a></div>
                            </div>
                            <div class="u-intro"><a target="_blank" class="u-goods-titleLink title J_btn_check" href="http://you.163.com/item/detail?id={{id}}">{{title}}</a>
                                <p class="info">{{simpleDesc}}</p>
                                <p class="price">
                                    <span class="offPrice"><span class="unit">¥&nbsp;</span>{{offPrice}}</span>
                                    {{#unitPrice}}<span class="u-unitPrice">{{unitPrice}}</span>{{/unitPrice}}
                                </p>
                            </div>
                        </li>
                        {{/temp}}
                    </ul>
                    <ul class="m-goodsList" v-if="contentInfo.needScenePicUrl.value">
                        {{#temp}}
                        <li class="u-goods">
                            <div class="u-goodsImg">
                                {{#maker}}<div class="u-maker">{{maker}}</div>{{/maker}}<img src="{{scenePicUrl}}" data-original="{{scenePicUrl}}" class="J_lazyload" style="display: inline;">
                                <div class="u-goodsOptModal"></div>
                                <div class="u-goodsOpt"><a target="_blank" href="http://you.163.com/item/detail?id={{id}}&amp;_stat_subject=" class="u-btn-check J_btn_check"><span class="checkIcon"></span>查看详情</a><a href="javascript:;" class="u-btn-cart J_btn_cart"><span class="cartIcon"></span>加入购物车</a></div>
                            </div>
                            <div class="u-intro"><a target="_blank" class="u-goods-titleLink title J_btn_check" href="http://you.163.com/item/detail?id={{id}}">{{title}}</a>
                                <p class="info">{{simpleDesc}}</p>
                                <p class="price">
                                    <span class="offPrice"><span class="unit">¥&nbsp;</span>{{offPrice}}</span>
                                    {{#unitPrice}}<span class="u-unitPrice">{{unitPrice}}</span>{{/unitPrice}}
                                </p>
                            </div>
                        </li>
                        {{/temp}}
                    </ul>
                    <div class="m-goodsEmpty f-CF55-hide">
                        <div class="u-emptyTips">
                            <img class="u-goodsEmptyImg" src="https://nos.netease.com/yanxuan/14875707806450257.png">
                            <p class="u-goodsEmptyTip">抱歉，暂时<span class="f-font-red">没能找到符合条件</span>的商品</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="J_pagination">
        </div>
        <div class="m-footerTip">
            <p>*该价格为商品制造厂商零售市场指导价</p>
        </div>
    </div>
</div>


