.YX-N-M-C1C3 {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  zoom: 1;
}
.YX-N-M-C1C3 .m-C1C3-inner {
  position: relative;
  width: 604px;
  margin: 0 auto;
}
.YX-N-M-C1C3 .m-C1C3-title {
  padding: 80px 0 0;
}
.YX-N-M-C1C3 .u-C1C3-item-title a {
  position: relative;
  display: block;
  background: #eae3dc;
}
.YX-N-M-C1C3 .m-C1C3-content {
  padding-top: 60px;
}
.YX-N-M-C1C3 .u-C1C3-item {
  width: 100%;
  height: 526px;
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #efefef;
}
.YX-N-M-C1C3 .u-C1C3-item-title {
  position: relative;
  width: 100%;
}
.YX-N-M-C1C3 .u-C1C3-item-title .u-C1C3-item-tip {
  position: absolute;
  width: 48px;
  padding: 20px 12px 12px;
  top: -6px;
  left: 20px;
  color: #fff;
  background: #9a3232;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.YX-N-M-C1C3 .u-C1C3-item-title .u-C1C3-item-tip:before {
  content: '';
  position: absolute;
  width: 52px;
  height: 6px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAGBAMAAAB+5KB+AAAAKlBMVEUAAACaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjIev8fLAAAADXRSTlMA4XpKOAjPzbeyhyIPvKk1BwAAADFJREFUCNdjCLuLHSgwMAThkCpgYGDBISXCwMDdi13qFgMDgy52qZsHGBgMsUtdNAAAr+R6RooN2qwAAAAASUVORK5CYII=') no-repeat center center;
  background-size: 100% auto;
  top: 0;
  left: 0;
  z-index: 1;
}
.YX-N-M-C1C3 .u-C1C3-item-title .u-C1C3-item-tip:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 12px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAMAAAATZM5jAAAAWlBMVEUAAACaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKEG/WNAAAAHXRSTlMA+O0C3sq1iWJMNiITCaB15NO8p5uRem9ZQy0bDhSzLsIAAABhSURBVCjPpc83EoAgAETRRVSyOYf7X1MLCmcAwfHVW+wHzm8A2ZPkNakkbjvLkuZ5rWEZ3kbnpaB4Wsu3dcYUHGoMPSu4gdcx5/7QMCo6NzRiG4gTGqGnxgmNoEthQ/+7ALQ3Hzb2tFgZAAAAAElFTkSuQmCC') no-repeat center center;
  background-size: 100% auto;
  top: auto;
  left: 0;
  bottom: -12px;
  z-index: 1;
}
.YX-N-M-C1C3 .u-C1C3-item-content {
  position: relative;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
}
.YX-N-M-C1C3 .u-C1C3-item-content .u-C1C3-item-t {
  color: #333;
  padding: 0 15px;
  font-size: 30px;
  line-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.YX-N-M-C1C3 .u-C1C3-item-content .u-C1C3-item-desc {
  color: #999;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.YX-N-M-C1C3 .u-C1C3-item-price {
  position: relative;
  text-align: center;
}
.YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-offPrice {
  display: inline-block;
  color: #9a3232;
  font-size: 48px;
  line-height: 48px;
  vertical-align: middle;
}
.YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-offPrice:before {
  content: '￥';
  color: #9a3232;
  font-size: 18px;
  line-height: 48px;
  vertical-align: text-bottom;
}
.YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-cart {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
}
.YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-cart span {
  display: block;
  width: 25px;
  height: 18px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAASCAMAAACZ8IWSAAAAYFBMVEUAAADCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1e2nSpxAAAAH3RSTlMA8NChwPuwBTlj9tlv4svFtJiLg3khGg/IlWdZRTIufONHugAAAJhJREFUGNNt0FkOgzAQA1AnZGOHsnX3/W/ZDhEtQbxfW6ORceJCAaMPJrQxcUwV3hdUzjnkTF3xJh2+ZqZu0h0hNBM5evIJMTDxkuoCEZLAem9ZYuUVd7Q0M0RVtnNHRVY4lZEBolYHltZDKPJIY9UZRWU2BWtjRkQPkvl/ZRuwMSQb4He63//CDlFJcsBmbm0zIQqldQuiDxpfF6ufnnJZAAAAAElFTkSuQmCC) no-repeat center center;
  background-size: 100% auto;
  margin: 20px auto 0;
}
@media only screen and (min-width: 320px) and (max-width: 357px) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (min-width: 357px) and (max-width: 375px) {
  html {
    font-size: 351.5625%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 400px) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 414px) {
  html {
    font-size: 390.625%;
  }
}
@media only screen and (min-width: 414px) and (max-width: 440px) {
  html {
    font-size: 404.2969%;
  }
}
@media only screen and (min-width: 440px) and (max-width: 480px) {
  html {
    font-size: 429.6875%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 520px) {
  html {
    font-size: 468.75%;
  }
}
@media only screen and (min-width: 520px) and (max-width: 560px) {
  html {
    font-size: 507.8125%;
  }
}
@media only screen and (min-width: 560px) and (max-width: 600px) {
  html {
    font-size: 546.875%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 640px) {
  html {
    font-size: 585.9375%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 680px) {
  html {
    font-size: 625%;
  }
}
@media only screen and (min-width: 680px) and (max-width: 720px) {
  html {
    font-size: 664.0625%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 760px) {
  html {
    font-size: 703.125%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 800px) {
  html {
    font-size: 742.1875%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
  html {
    font-size: 781.25%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 480px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-min-pixel-ratio: 3) and (orientation: portrait) {
  html {
    font-size: 404.2969%;
  }
}
@media (max-width: 960px) {
  .YX-N-M-C1C3 {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    zoom: 1;
  }
  .YX-N-M-C1C3 .m-C1C3-inner {
    position: relative;
    width: 6.04rem;
    margin: 0 auto;
  }
  .YX-N-M-C1C3 .m-C1C3-title {
    padding: .8rem 0 0;
  }
  .YX-N-M-C1C3 .m-C1C3-content {
    padding-top: .6rem;
  }
  .YX-N-M-C1C3 .u-C1C3-item {
    width: 100%;
    height: 5.26rem;
    margin-bottom: .2rem;
    border-top-left-radius: .04rem;
    border-top-right-radius: .04rem;
    border: 1px solid #efefef;
  }
  .YX-N-M-C1C3 .u-C1C3-item-title {
    position: relative;
    width: 100%;
  }
  .YX-N-M-C1C3 .u-C1C3-item-title a {
    position: relative;
    display: block;
    background: #eae3dc;
    font-size: 0;
  }
  .YX-N-M-C1C3 .u-C1C3-item-title .u-C1C3-item-tip {
    position: absolute;
    width: .48rem;
    padding: .2rem .12rem .12rem;
    top: -0.06rem;
    left: .2rem;
    color: #fff;
    background: #9a3232;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .24rem;
    line-height: .26rem;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
  }
  .YX-N-M-C1C3 .u-C1C3-item-title .u-C1C3-item-tip:before {
    content: '';
    position: absolute;
    width: .52rem;
    height: .06rem;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAGBAMAAAB+5KB+AAAAKlBMVEUAAACaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjIev8fLAAAADXRSTlMA4XpKOAjPzbeyhyIPvKk1BwAAADFJREFUCNdjCLuLHSgwMAThkCpgYGDBISXCwMDdi13qFgMDgy52qZsHGBgMsUtdNAAAr+R6RooN2qwAAAAASUVORK5CYII=') no-repeat center center;
    background-size: 100% auto;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .YX-N-M-C1C3 .u-C1C3-item-title .u-C1C3-item-tip:after {
    content: '';
    position: absolute;
    width: .48rem;
    height: .12rem;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAMAAAATZM5jAAAAWlBMVEUAAACaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKaMjKEG/WNAAAAHXRSTlMA+O0C3sq1iWJMNiITCaB15NO8p5uRem9ZQy0bDhSzLsIAAABhSURBVCjPpc83EoAgAETRRVSyOYf7X1MLCmcAwfHVW+wHzm8A2ZPkNakkbjvLkuZ5rWEZ3kbnpaB4Wsu3dcYUHGoMPSu4gdcx5/7QMCo6NzRiG4gTGqGnxgmNoEthQ/+7ALQ3Hzb2tFgZAAAAAElFTkSuQmCC') no-repeat center center;
    background-size: 100% auto;
    top: auto;
    left: 0;
    bottom: -0.1rem;
    z-index: 1;
  }
  .YX-N-M-C1C3 .u-C1C3-item-content {
    position: relative;
    width: 100%;
    padding: .2rem 0;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
  }
  .YX-N-M-C1C3 .u-C1C3-item-content .u-C1C3-item-t {
    color: #333;
    padding: 0 .15rem;
    font-size: .3rem;
    line-height: .4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .YX-N-M-C1C3 .u-C1C3-item-content .u-C1C3-item-desc {
    color: #999;
    padding: 0 .15rem;
    font-size: .2rem;
    line-height: .3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .YX-N-M-C1C3 .u-C1C3-item-price {
    position: relative;
    margin-top: .1rem;
    text-align: center;
  }
  .YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-offPrice {
    display: inline-block;
    color: #9a3232;
    font-size: .48rem;
    line-height: .38rem;
    vertical-align: middle;
  }
  .YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-offPrice:before {
    content: '￥';
    color: #9a3232;
    font-size: .24rem;
    line-height: .48rem;
    vertical-align: text-bottom;
  }
  .YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-cart {
    display: inline-block;
    width: .48rem;
    height: .48rem;
    line-height: .48rem;
    vertical-align: middle;
  }
  .YX-N-M-C1C3 .u-C1C3-item-price .u-C1C3-item-cart span {
    display: block;
    width: .25rem;
    height: .28rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAASCAMAAACZ8IWSAAAAYFBMVEUAAADCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1fCV1e2nSpxAAAAH3RSTlMA8NChwPuwBTlj9tlv4svFtJiLg3khGg/IlWdZRTIufONHugAAAJhJREFUGNNt0FkOgzAQA1AnZGOHsnX3/W/ZDhEtQbxfW6ORceJCAaMPJrQxcUwV3hdUzjnkTF3xJh2+ZqZu0h0hNBM5evIJMTDxkuoCEZLAem9ZYuUVd7Q0M0RVtnNHRVY4lZEBolYHltZDKPJIY9UZRWU2BWtjRkQPkvl/ZRuwMSQb4He63//CDlFJcsBmbm0zIQqldQuiDxpfF6ufnnJZAAAAAElFTkSuQmCC) no-repeat center center;
    background-size: 100% auto;
    margin: .15rem auto 0;
  }
  .m-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 .2rem;
    height: .3rem;
    text-align: center;
    z-index: 49;
  }
  .u-toast {
    color: #fff;
    height: .3rem;
    font-size: .24rem;
    line-height: .3rem;
    text-align: center;
  }
}
