<div class="YX-N-M-EB26">
	<div class="J_module_info f-hide" style="display: none;">
		<div class="goodsId" data-goodsId="{{contentInfo.goodsId}}"></div>
	</div>
	<p class="m-EB26-title" data-h55970f92="title">{{contentInfo.title}}</p>
	<div class="m-EB26-content" v-if="!contentInfo.needScenePicUrl.value">
		{{#temp}}
		<div class="u-EB26-goods">
			<div class="u-EB26-goods-img">
				<img class="J_lazyload" src="{{primaryPicUrl}}">
			</div>
			<div class="u-EB26-goods-info">
				<p class="u-EB26-goods-title"><a class="u-EB26-goods-link" href="http://you.163.com/item/detail?id={{id}}" target="_blank">{{title}}</a></p>
				{{#couponPrice}}
					<p class="u-EB26-goods-price">
						<span>券后</span>
						<span class="u-EB26-goods-couponPrice">{{couponPrice}}</span>
						<span class="u-EB26-goods-retailPrice">{{retailPrice}}</span>
					</p>
				{{/couponPrice}}
				{{^couponPrice}}
					<p class="u-EB26-goods-price">
						<span class="u-EB26-goods-couponPrice">{{offPrice}}</span>
						<span class="u-EB26-goods-retailPrice">{{retailPrice}}</span>
					</p>
				{{/couponPrice}}
				{{#btnText}}<a href="{{btnLink}}" target="_blank" class="u-EB26-goods-btn">{{btnText}}</a>{{/btnText}}
				{{^btnText}}<a href="http://you.163.com/item/detail" target="_blank" class="u-EB26-goods-btn">立即购买</a>{{/btnText}}
				{{#oldUserFlag}}<p class="u-EB26-goods-tip">老用户订单满88免单</p>{{/oldUserFlag}}
			</div>	
		</div>
		{{/temp}}
	</div>
	<div class="m-EB26-content" v-if="contentInfo.needScenePicUrl.value">
		{{#temp}}
		<div class="u-EB26-goods">
			<div class="u-EB26-goods-img">
				<img class="J_lazyload" src="{{scenePicUrl}}">
			</div>
			<div class="u-EB26-goods-info">
				<p class="u-EB26-goods-title"><a class="u-EB26-goods-link" href="http://you.163.com/item/detail?id={{id}}" target="_blank">{{title}}</a></p>
				{{#couponPrice}}
					<p class="u-EB26-goods-price">
						<span>券后</span>
						<span class="u-EB26-goods-couponPrice">{{couponPrice}}</span>
						<span class="u-EB26-goods-retailPrice">{{retailPrice}}</span>
					</p>
				{{/couponPrice}}
				{{^couponPrice}}
					<p class="u-EB26-goods-price">
						<span class="u-EB26-goods-couponPrice">{{offPrice}}</span>
						<span class="u-EB26-goods-retailPrice">{{retailPrice}}</span>
					</p>
				{{/couponPrice}}
				{{#btnText}}<a href="{{btnLink}}" target="_blank" class="u-EB26-goods-btn">{{btnText}}</a>{{/btnText}}
				{{^btnText}}<a href="http://you.163.com/item/detail" target="_blank" class="u-EB26-goods-btn">立即购买</a>{{/btnText}}
				{{#oldUserFlag}}<p class="u-EB26-goods-tip">老用户订单满88免单</p>{{/oldUserFlag}}
			</div>	
		</div>
		{{/temp}}
	</div>
</div>