<div class="YX-S-M-CE2D" style="background: {{contentInfo.bgColor}}" data-h55970f92="bgColor"><div class="m-CE2D-inner" style="height: {{contentInfo.height}}px" data-height="{{contentInfo.height}}" data-h55970f92="height"></div></div>