<div class="m-psc-autocomplete u-h">
	<div class="u-t">模块搜索 <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
	<div class="u-psc-autocomplete">
		<div class="u-shareTemplate-thread"></div>
		<div class="u-psc-group">
			<label>模板所属种类：</label>
			<label>
				<input type="radio" name="type" class="u-psc-radio-check" value="0" style="display: none;">
				<span class="u-psc-radio" v-on:click="setType($event,0)">邮箱大师</span>
			</label>
			<label>
				<input type="radio" name="type" class="u-psc-radio-check" value="1" style="display: none;">
				<span class="u-psc-radio" v-on:click="setType($event,1)">网易有钱</span>
			</label>
			<label>
				<input type="radio" name="type" class="u-psc-radio-check" value="2" style="display: none;">
				<span class="u-psc-radio" v-on:click="setType($event,2)">网易严选</span>
			</label>
			<label>
				<input type="radio" name="type" class="u-psc-radio-check" value="3" style="display: none;">
				<span class="u-psc-radio" v-on:click="setType($event,3)">一元夺宝</span>
			</label>
			<label>
				<input type="radio" name="type" class="u-psc-radio-check" value="4" style="display: none;">
				<span class="u-psc-radio" v-on:click="setType($event,4)">VIP邮箱</span>
			</label>
			<label>
				<input type="radio" name="type" class="u-psc-radio-check" value="6" style="display: none;">
				<span class="u-psc-radio" v-on:click="setType($event,6)">AI商城</span>
			</label>
			<label>
				<input type="radio" name="type" class="u-psc-radio-check" value="5" style="display: none;">
				<span class="u-psc-radio" v-on:click="setType($event,5)">其他</span>
			</label>
		</div>
		<div class="u-shareTemplate-thread"></div>
		<div class="u-psc-group">
			<label>是否适配：</label>
			<label>
				<input type="radio" name="suit" class="u-psc-radio-check" value="0" style="display: none;">
				<span class="u-psc-radio" v-on:click="setSuit($event,0)">是</span>
			</label>
			<label>
				<input type="radio" name="suit" class="u-psc-radio-check" value="1" style="display: none;">
				<span class="u-psc-radio" v-on:click="setSuit($event,1)">否</span>
			</label>
		</div>
		<div class="u-shareTemplate-thread"></div>
		<div class="u-psc-group">
			<label>模板类型：</label>
			<label>
				<input type="radio" name="component" class="u-psc-radio-check" value="0" style="display: none;">
				<span class="u-psc-radio"  v-on:click="setComponent($event,0)">公共模板</span>
			</label>
			<label>
				<input type="radio" name="component" class="u-psc-radio-check" value="1" style="display: none;">
				<span class="u-psc-radio"  v-on:click="setComponent($event,1)">BANNER模板</span>
			</label>
			<label>
				<input type="radio" name="component" class="u-psc-radio-check" value="2" style="display: none;">
				<span class="u-psc-radio"  v-on:click="setComponent($event,2)">商品位模板（接goods系统）</span>
			</label>
			<label>
				<input type="radio" name="component" class="u-psc-radio-check" value="3" style="display: none;">
				<span class="u-psc-radio"  v-on:click="setComponent($event,3)">商品位模板（未接goods系统）</span>
			</label>
			<label>
				<input type="radio" name="component" class="u-psc-radio-check" value="4" style="display: none;">
				<span class="u-psc-radio"  v-on:click="setComponent($event,4)">活动规则</span>
			</label>
		</div>
		<div class="u-shareTemplate-thread"></div>
		<div class="u-psc-group u-psc-group-s">
			<label>请输入模块名称：</label>
			<input type="text" class="u-psc-autocomplete-input" id="autocomplete" placeholder="请输入模块名称、模板关键字" v-autocomplete v-model="autocomplete">
			<div class="u-psc-filter" v-for="filter in filters"><span title="{{filter.value}}">{{filter.value}}</span><i class="fa fa-times" aria-hidden="true" v-on:click="removeFilter($event,filter.type)"></i></div>
		</div>
		<div class="u-shareTemplate-thread"></div>
		<div class="u-psc-autocomplete-selected" v-if="size">
			<div class="u-flex-box" v-for="item in suggestions" v-bind:class="{'u-flex-box-web':item.suitWeb,'u-flex-box-h5':item.suitH5}" data-type="{{item.type}}">
				<div class="u-flex-img">
					<img alt="" v-bind:src="item.zoom"/>
				</div>
				<div class="m-btn-flex-group">
					<a href="javascript:;" target="_self" class="u-btn-default" v-on:click="notifyToView($event, item.zoom, item.desc)">预览</a>
					<a href="javascript:;" target="_self" class="u-btn-success" v-on:click="notifyToAdd($event, item.type)">添加</a>
				</div>
			</div>
		</div>
		<div class="u-psc-autocomplete-selected" v-else>
			<div class="u-psc-noSuggestion">请输入模板名称、模板关键字</div>
		</div>
	</div>
</div>