<div class="m-salebox-l"><div class="pic" data-h55970f92="imgUrl"><img src="{{imgUrl}}" alt=""></div><div class="detail"><p class="title" data-h55970f92="title">{{title}}</p><div class="text" data-h55970f92="desc">{{{desc}}}</div></div><div class="price"><div class="text"><p>只需先付<span class="z-em" data-h55970f92="order">&yen;{{price.order}}</span>定金（定金不退）</p><p>正式售卖再付：<span class="z-em" data-h55970f92="rest">{{price.rest}}</span>即可</p><p class="oripri" data-h55970f92="origin">原价：&yen;{{price.origin}}</p></div><a href="javascript:;" class="u-btn z-dis"></a></div></div>