.YX-S-M-22EE {
  position: relative;
  width: 100%;
}
.YX-S-M-22EE .m-22EE-inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 42px 0 15px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  width: 608px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item {
  float: left;
  height: 309px;
  width: 293px;
  margin-bottom: 11px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item:nth-child(2n) {
  margin-left: 22px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-good {
  width: 293px;
  font-size: 13px;
  line-height: 1;
  text-align: center;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link {
  display: block;
  width: 293px;
  height: 171px;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link img {
  display: inline-block;
  height: 100%;
  max-height: 273px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin:0 auto;
  vertical-align: middle;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link img:hover {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link .u-22EE-leftdesc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 36px;
  z-index: 10;
  border:1px solid #b4a078;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link .u-22EE-leftdesc span {
  display: block;
  position: relative;
  font-size: 20px;
  color: #b4a078;
  padding: 15px 10px;
  z-index: 30;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 12px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-maker {
  display: inline-block;
  color: #fff;
  background-color: #af3535;
  padding: 3px 15px;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t {
  width: 293px;
  color: #333;
  margin: 0 auto;
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t .u-22EE-goods-title {
  display: inline-block;
  color: #696969;
  margin-left: 7px;
  padding: 5px;
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t .u-22EE-goods-title a {
  color: #333;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t .nomaker {
  width: 240px;
  text-align: center;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-desc {
  width: 280px;
  color: #696969;
  margin: 3px auto;
  padding:5px 0;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 14px;
}
.YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .m-22EE-btn .u-22EE-btn {
  display: inline-block;
  width: 290px;
  height: 42px;
  color: #af3535;
  background: #fff;
  border-radius: 4px;
  font-size: 20.7px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #af3535;
}
@media only screen and (min-width: 320px) and (max-width: 357px) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (min-width: 357px) and (max-width: 375px) {
  html {
    font-size: 351.5625%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 400px) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 414px) {
  html {
    font-size: 390.625%;
  }
}
@media only screen and (min-width: 414px) and (max-width: 440px) {
  html {
    font-size: 404.2969%;
  }
}
@media only screen and (min-width: 440px) and (max-width: 480px) {
  html {
    font-size: 429.6875%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 520px) {
  html {
    font-size: 468.75%;
  }
}
@media only screen and (min-width: 520px) and (max-width: 560px) {
  html {
    font-size: 507.8125%;
  }
}
@media only screen and (min-width: 560px) and (max-width: 600px) {
  html {
    font-size: 546.875%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 640px) {
  html {
    font-size: 585.9375%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 680px) {
  html {
    font-size: 625%;
  }
}
@media only screen and (min-width: 680px) and (max-width: 720px) {
  html {
    font-size: 664.0625%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 760px) {
  html {
    font-size: 703.125%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 800px) {
  html {
    font-size: 742.1875%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
  html {
    font-size: 781.25%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 480px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 312.5%;
  }
}
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-min-pixel-ratio: 2) and (orientation: portrait) {
  html {
    font-size: 366.211%;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-min-pixel-ratio: 3) and (orientation: portrait) {
  html {
    font-size: 404.2969%;
  }
}
@media (max-width: 960px) {
  .YX-S-M-22EE {
    position: relative;
    width: 100%;
  }
  .YX-S-M-22EE .m-22EE-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    list-style: none;
    width: 6.08rem;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item {
    float: left;
    height: 3.09rem;
    width: 2.93rem;
    margin-bottom: 0.11rem;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item:nth-child(2n) {
    margin-left: 0.22rem;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-good {
    width: 2.93rem;
    font-size: 0.13rem;
    line-height: 1;
    text-align: center;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link {
    display: block;
    width: 2.93rem;
    height: 1.71rem;
    overflow: hidden;
    vertical-align: middle;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link img {
    display: inline-block;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin:0 auto;
    vertical-align: middle;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link img:hover {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link .u-22EE-leftdesc {
    position: absolute;
    left: 0px;
    top: 0rem;
    width: 0.36rem;
    z-index: 10;
    border:1px solid #b4a078;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .u-22EE-link .u-22EE-leftdesc span {
    display: block;
    position: relative;
    font-size: 0.2rem;
    color: #b4a078;
    padding: 0.15rem 0.1rem;
    z-index: 30;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.12rem;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-maker {
    display: inline-block;
    color: #fff;
    background-color: #af3535;
    padding: 0.03rem 0.15rem;
    font-size: 0.18rem;
    line-height: 0.22rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0.22rem;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t {
    width: 2.93rem;
    color: #333;
    margin: 0 auto;
    font-size: 0.2rem;
    line-height: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t .u-22EE-goods-title {
    display: inline-block;
    color: #696969;
    margin-left: 0.07rem;
    padding: 0.05rem;
    font-size: 0.2rem;
    line-height: 0.2rem;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 1.5rem;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t .u-22EE-goods-title a {
    color: #333;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-t .nomaker {
    width: 2rem;
    text-align: center;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .u-22EE-goods-desc {
    width: 2.8rem;
    color: #696969;
    margin: 0.03rem auto;
    padding:0.06rem 0;
    font-size: 0.14rem;
    line-height: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .YX-S-M-22EE .m-22EE-inner .m-22EE-goods .u-22EE-item .m-22EE-goods-info .m-22EE-btn .u-22EE-btn {
    display: inline-block;
    width: 2.8rem;
    height: 0.42rem;
    color: #af3535;
    background: #fff;
    border-radius: 4px;
    font-size: 0.207rem;
    line-height: 0.42rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #af3535;
  }
}
