<div class="YX-S-M-73D7 m-section-module" style="background-image: url({{contentInfo.backgroundImage}})" data-h55970f92="backgroundImage">
	<div class="m-73D7-inner">
		<div class="m-73D7-tip" data-h55970f92="tipImage">
			<img src="{{contentInfo.tipImage}}" class="u-73D7-logo"/>
		</div>
		<div class="m-73D7-title" data-h55970f92="titleImage">
			<img src="{{contentInfo.titleImage}}" class="u-73D7-title"/>
		</div>
	</div>
</div>