<div class="m-psc-tip" v-show="showFlag"><div class="m-modal-bg"></div><div class="m-modal-content"><a href="javascript:;" target="_self" class="u-close fa fa-times" v-on:click="hideModal($event)"></a><div class="m-modal-flex"><div class="u-flex-box"><p v-text="tip"></p></div></div><div class="m-btn-flex-group"><a href="javascript:;" target="_self" class="u-btn-default" v-on:click="hideModal($event)">取消</a> <a href="javascript:;" target="_self" class="u-btn-success" v-on:click="confirmModal($event)">确定</a></div></div></div>