<div class="YX-S-M-6D5E m-section-module" data-h55970f92="bannerImage">
    <div class="m-6D5E-img-wrap">
        {{^contentInfo.link}}
        	<img src="{{contentInfo.bannerImage}}" data-original="{{contentInfo.bannerImage}}" class="J_lazyload J_needImage"/>
        {{/contentInfo.link}}
        {{#contentInfo.link}}
        	<a href="{{contentInfo.link}}" target="_blank">
    			<img src="{{contentInfo.bannerImage}}" data-original="{{contentInfo.bannerImage}}" class="J_lazyload J_needImage"/>
    		</a>
        {{/contentInfo.link}}
    </div>
</div>