<meta charset="UTF-8" />
<table align="center" style="font-family:Microsoft YaHei,Simsun;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;border-top:1px solid #dbdbdb;color:#fff;width:100%;max-width:650px;_width:650px;*width:650px;table-layout:fixed;" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="3" style="text-align:center;">
                <a href="{{contentInfo.logoUrl}}" target="_blank" style="display:block;width:100%;padding-top:20px;text-decoration:none;font-size:16px;color:#222222;vertical-align:top;">
                    <img src="{{contentInfo.logo}}" style="vertical-align:top;border:0;">
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height:30px;line-height:30px;text-align:center;">
                <a href="http://you.163.com/?from=web_mailo_old_old_2" target="_blank" style="display:block;height:50px;width:100%;text-decoration:none;font-size:16px;color:#222222;vertical-align:top;">
                    <span style="line-height:50px;vertical-align:top;display:inline-block;font-family:Microsoft YaHei,Simsun;font-size:15px;">一线品牌制造商直供</span></a>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height:65px;border-bottom:1px solid #dcdcdc;">
                <table style="font-family:Microsoft YaHei,Simsun;color:#fff;width:100%;max-width:650px;_width:650px;*width:650px;table-layout:fixed;text-align:center;" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="16.6%">
                            <a href="{{contentInfo.category_link_1}}" target="_blank"><img src="{{contentInfo.category_img_1}}" style="width:80%;max-width:70px;border:0;display:inline-block"></a>
                        </td>
                        <td width="16.6%">
                            <a href="{{contentInfo.category_link_2}}" target="_blank"><img src="{{contentInfo.category_img_2}}" style="width:80%;max-width:70px;border:0;display:inline-block"></a>
                        </td>
                        <td width="16.6%">
                            <a href="{{contentInfo.category_link_3}}" target="_blank"><img src="{{contentInfo.category_img_3}}" style="width:80%;max-width:70px;border:0;display:inline-block"></a>
                        </td>
                        <td width="16.6%">
                            <a href="{{contentInfo.category_link_4}}" target="_blank"><img src="{{contentInfo.category_img_4}}" style="width:80%;max-width:70px;border:0;display:inline-block"></a>
                        </td>
                        <td width="16.6%">
                            <a href="{{contentInfo.category_link_5}}" target="_blank"><img src="{{contentInfo.category_img_5}}" style="width:80%;max-width:70px;border:0;display:inline-block"></a>
                        </td>
                        <td width="16.6%">
                            <a href="{{contentInfo.category_link_6}}" target="_blank"><img src="{{contentInfo.category_img_6}}" style="width:80%;max-width:70px;border:0;display:inline-block"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height:10px;"></td>
        </tr>
    </tbody>
</table>
