<div class="m-page s-right">
	<div class="g-con">
		<div class="u-page-icon">
			<div class="icon" style="background-image: url({{icon_page}});" data-h55970f92="icon_page"></div>
			<div class="line" style="background-image: url({{icon_line}});" data-h55970f92="icon_line"></div>
		</div>
		<!-- 商品 -->
		<div class="m-block small" data-h55970f92="skuId1">
			<a href="{{good_url1}}" target="_blank" class="pd" data-h55970f92="good_url1">
				<div class="u-img-wrap" data-h55970f92="good_img1">
					<img src="{{good_img1}}" data-original="" class="J_lazyload" width="305" height="255">
					<span class="u-icon-plus"></span>
				</div>
			</a>
			<div class="dsc" style="background-image: url({{good_txt1}}); height: 194px;" data-h55970f92="good_txt1">
				<a href="javascript:;" class="u-cart J_btn_cart" data-skuid="{{skuId1}}" style="background-image: url({{icon_cart}});" data-h55970f92="icon_cart"></a>
			</div>
		</div>
		<!-- 商品 -->
		<div class="m-block medium" data-h55970f92="skuId2">
			<a href="{{good_url2}}" target="_blank" class="pd" data-h55970f92="good_url2">
				<div class="u-img-wrap" data-h55970f92="good_img2">
					<img src="{{good_img2}}" data-original="" class="J_lazyload" width="440" height="255">
					<span class="u-icon-plus"></span>
				</div>
			</a>
			<div class="dsc" style="background-image: url({{good_txt2}}); height: 156px;" data-h55970f92="good_txt2">
				<a href="javascript:;" class="u-cart J_btn_cart" data-skuid="{{skuId2}}" style="background-image: url({{icon_cart}});" data-h55970f92="icon_cart"></a>
			</div>
		</div>
		<!-- 商品 -->
		<div class="m-block large" data-h55970f92="skuId3">
			<a href="{{good_url3}}" target="_blank" class="pd" data-h55970f92="good_url3">
				<div class="u-img-wrap" data-h55970f92="good_img3">
					<img src="{{good_img3}}" data-original="" class="J_lazyload" width="440" height="380">
					<span class="u-icon-plus"></span>
				</div>
			</a>
			<div class="dsc" style="background-image: url({{good_txt3}}); height: 235px;" data-h55970f92="good_txt3">
				<a href="javascript:;" class="u-cart J_btn_cart" data-skuid="{{skuId3}}" style="background-image: url({{icon_cart}});" data-h55970f92="icon_cart"></a>
			</div>
		</div>
		<div class="u-tt-bg" style="margin-top: 32px;" style="background-image: url({{icon_bg}});" data-h55970f92="icon_bg"></div>
		<div class="u-tt">
			<div class="content" style="background-image: url({{title_page}})" data-h55970f92="title_page"></div>
		</div>
	</div>
</div>
<div class="u-bar" style="background:{{barBgColor}};" data-h55970f92="barBgColor"></div>