<div class="m-psc-shareModal" v-show="shareFlag">
	<div class="m-modal-bg"></div>
	<div class="m-shareModal-content">
		<a href="javascript:;" target="_self" class="u-close fa fa-times" v-on:click="hideModal"></a>
		<div v-for="item in shareInfo">
			<div class="m-psc-shareModal-group" v-if="item.type == 'input'">
				<label>{{item.name}}:</label>
				<div class="u-psc-input-group" v-if="item.needUpload">
					<form action="" method="post" enctype="multipart/form-data" target="fileUpload" class="compress J_uploadForm">
						<div class="u-upload J_upload">
							<input type="file" name="files" class="u-uploadOneImg J_uploadOneImg" data-type="compress" data-imagePath=""  data-localPath="" v-on:change="uploadImg($event)" data-key="{{item.key}}"/>
						</div>
						<input type="hidden" v-model="item.value" data-key="{{item.key}}" class="u-psc-input"/>
					</form>
					<canvas id="imgPreView" class="u-uploadImg-preview" width="120" height="120"></canvas>
					<div class="u-preview-upload" v-if="item.value">
						<img v-bind:src="item.value">
					</div>
					<p class="u-upload-tip">{{item.tip}}</p>
				</div>
				<div class="u-psc-input-group" v-else>
					<input type="text" v-model="item.value" data-key="{{item.key}}">
				</div>				
			</div>
			<div class="m-psc-shareModal-group" v-if="item.type == 'textarea'">
				<label>{{item.name}}:</label>
				<div class="u-psc-input-group">
					<textarea type="text" v-model="item.value" data-key="{{item.key}}">{{item.value}}</textarea>
				</div>
			</div>
			<div class="m-psc-shareModal-group" v-if="item.type == 'select'">
				<label>{{item.name}}:</label>
				<div class="u-psc-input-group">
					<input type="hidden" v-model="item.value" data-key="{{item.key}}"/>
					<select v-model="item.value">
						<option v-for="option in item.options" value="{{option.value}}">
							<span>{{option.name}}</span>
						</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>