<nav class="g-psc-hd" id="mainHeader">
    <div class="m-psc-hd-inner">
        <div class="m-nav-title">Productive Services &amp; Tools - Scaffold</div>
        <div class="m-psc-hd-btn-group">
                <label for="preview">
            <div class="u-psc-hd-btn u-edit" v-bind:class="{'active' : editActive}" v-on:click="handleClick($event,0)">
                <label for="edit">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{edit}}
                </label>
                <input type="radio" v-model="picked" id="edit" name="picked" value="0" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-prev" v-bind:class="{'active' : prevActive}" v-on:click="handleClick($event,12)">
                <label for="adaptPreview">
                    <i class="fa fa-mobile" aria-hidden="true"></i>{{adaptPreview}}
                </label>
                <input type="radio" v-model="picked" id="adaptPreview" name="picked" value="1" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-back" v-bind:class="{'active' : backActive}" v-on:click="backHtml($event,2)">
                <label for="back">
                    <i class="fa fa-reply" aria-hidden="true"></i>{{back}}
                </label>
                <input type="radio" v-model="picked" id="back" name="picked" value="3" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-clear" v-bind:class="{'active' : clearActive}" v-on:click="clearHtml($event,3)">
                <label for="clear">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>{{clear}}
                </label>
                <input type="radio" v-model="picked" id="clear" name="picked" value="4" style="display: none;"/>
            </div>
        </div>
        <div class="m-psc-hd-btn-group">
            <div class="u-psc-hd-btn u-save" v-bind:class="{'active' : saveActive}" v-on:click="saveHtml($event,5)">
                <label for="save">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>{{save}}
                </label>
                <input type="radio" v-model="picked" id="save" name="picked" value="5" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-download" v-bind:class="{'active' : downloadActive}" v-on:click="downloadHtml($event,6)">
                <label for="download">
                    <i class="fa fa-download" aria-hidden="true"></i>{{download}}
                </label>
                <input type="radio" v-model="picked" id="download" name="picked" value="2" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-prevView" v-bind:class="{'active' : prevViewActive}" v-on:click="preViewHtml($event,4)">
                <label for="prevView">
                    <i class="fa fa-eye" aria-hidden="true"></i>{{prevView}}
                </label>
                <input type="radio" v-model="picked" id="prevView" name="picked" value="7" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-publish" v-bind:class="{'active' : publishActive}" v-on:click="publishHtml($event,7)">
                <label for="publish">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>{{publish}}
                </label>
                <input type="radio" v-model="picked" id="publish" name="picked" value="6" style="display: none;"/>
            </div>
        </div>
        <div class="m-psc-hd-btn-group">
            <div class="u-psc-hd-btn u-psc-hd-btn-large" v-bind:class="{'active': shareConfigActive}" v-on:click="shareConfigModal($event,9)" v-show="shareConfigVal">
                <label for="shareConfig">
                    <i class="fa fa-list" aria-hidden="true"></i>{{shareConfig}}
                </label>
                <input type="radio" v-model="picked" id="shareConfig" name="picked" value="9" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-psc-hd-btn-large" v-bind:class="{'active': shareModelActive}" v-on:click="shareModalList($event,10)" v-show="shareModalVal">
                <label for="shareModel">
                    <i class="fa fa-share" aria-hidden="true"></i>{{shareModel}}
                </label>
                <input type="radio" v-model="picked" id="shareModel" name="picked" value="10" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-psc-hd-btn-large" v-bind:class="{'active': getShareTemplateActive}" v-on:click="getShareTemplateFun($event,11)" v-show="shareGetShareTemplate">
                <label for="shareModel">
                    <i class="fa fa-share" aria-hidden="true"></i>{{getShareTemplate}}
                </label>
                <input type="radio" v-model="picked" id="shareModel" name="picked" value="10" style="display: none;"/>
            </div>
            <div class="u-psc-hd-btn u-psc-hd-btn-large" v-bind:class="{'active': showListActive}" v-on:click="showListTable($event,8)" v-show="showListVal">
                <label for="showList">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>{{showList}}
                </label>
                <input type="radio" v-model="picked" id="showList" name="picked" value="8" style="display: none;"/>
            </div>
        </div>
    </div>
</nav>