<div class="m-hd" style="background-image:url({{style.bgWrap}})" data-h55970f92="bgWrap">
	<div class="g-con">
		<h1 class="m-tt" style="background-image:url({{style.bginner}})" data-h55970f92="bginner"></h1>
	</div>
</div>