<div class="YX-N-M-92C9 m-section-module">
	<div class="J_module_info f-hide" style="display: none;">
        <div class="goodsId" data-goodsId="{{contentInfo.goodsId}}"></div>
    </div>
	<div class="m-92C9-inner">
		<div class="m-92C9-title">
			<div class="u-92C9-title"><p data-h55970f92="title" class="u-92C9-title-tip">{{contentInfo.title}}</p></div>
		</div>
		<div class="m-92C9-tip">
			<p data-h55970f92="tip">{{contentInfo.tip}}</p>
		</div>
		<div class="m-92C9-goods">
			<ul class="m-92C9-ul">
			{{#temp}}
				<li class="u-92C9-item">
					<div class="u-92C9-product">
						<div class="u-92C9-product-hd">
							<a href="http://you.163.com/item/detail?id={{id}}&_stat_subject=" target="_blank" class="u-92C9-link">
								<img class="u-92C9-img J_lazyload" src="{{primaryPicUrl}}" data-original="{{primaryPicUrl}}" alt="韩式帆布电脑双肩包">
							</a>
							{{#newItemFlag}}
								<span class="u-92C9-flag">新品</span>
							{{/newItemFlag}}
							<div class="u-92C9-operate">
								<a href="http://you.163.com/item/detail?id={{id}}&_stat_subject=" target="_blank" class="u-92C9-btn u-92C9-buy J_92C9_buy">立即购买</a>
								<a href="javascript:;" target="_self" class="u-92C9-btn u-92C9-cart J_92C9_cart" data-skuid="{{primarySkuId}}" data-img="{{primaryPicUrl}}"></a>
							</div>
						</div>
						<div class="u-92C9-product-bd">
							<h4 class="u-92C9-name">
								<a href="http://you.163.com/item/detail?id={{id}}&_stat_subject=" target="_blank">{{title}}</a>
							</h4>            
							{{#maker}}
								<p class="m-92C9-marker"><span class="u-92C9-marker">{{maker}}</span></p>
							{{/maker}}
							{{^maker}}
								<p class="m-92C9-simpleDesc"><span class="u-92C9-simpleDesc">{{simpleDesc}}</span></p>
							{{/maker}}                                        
							<p class="u-92C9-price">
								{{#coupon}}
									<a href="{{coupon}}" target="_blank" class="u-92C9-coupon"></a> 
								{{/coupon}}             
								<span class="u-92C9-retailPrice">{{offPrice}}</span>
								{{#unitPrice}}
									<span class="u-92C9-unitPrice">{{unitPrice}}</span>
								{{/unitPrice}}
							</p>							
						</div>
					</div>
				</li>
			{{/temp}}	
			</ul>
		</div>
	</div>
</div>