<div class="YX-N-M-5A56 m-section-module">
    <div class="m-5A56-logo"><a class="head-logo" href="http://you.163.com/" title="网易严选" target="_top"></a></div>
	<div class="m-5A56-title">
		<div class="u-5A56-border-content"><p data-h55970f92="title">{{contentInfo.title}}</p></div>
	</div>
	<div class="m-5A56-tips">
		{{#contentInfo.tipImg}}<div data-h55970f92="tipImg"><img  class="m-5A56-tipImg J_lazyload "  src="{{contentInfo.tipImg}}" data-original={{contentInfo.tipImg}} ></div>{{/contentInfo.tipImg}}
		
		{{#contentInfo.tip1}}<p data-h55970f92="tip1">{{contentInfo.tip1}}</p>{{/contentInfo.tip1}}
		{{#contentInfo.tip2}}<p data-h55970f92="tip2">{{contentInfo.tip2}}</p>{{/contentInfo.tip2}}
	</div>
	
</div>