.YX-N-M-417A {
  width: 100%;
  height: auto;
}
.YX-N-M-417A .m-417A-inner {
  position: relative;
  width: 1090px;
  min-width: 1090px;
  margin: 0 auto;
  padding: 42px 0 38px;
}
.YX-N-M-417A .m-417A-inner .u-417A-goods-tit {
  display: block;
  margin-top: 65px;
  margin-bottom: 30px;
}
.YX-N-M-417A .m-417A-inner .u-417A-goods-tit .u-417A-link {
  display: block;
  width: 338px;
  height: 80px;
}
.YX-N-M-417A .m-417A-goods {
  position: relative;
  width: 100%;
  font-size: 0;
}
.YX-N-M-417A .m-417A-goods .u-417A-goods {
  display: inline-block;
  width: 346px;
  min-height: 390px;
  margin-right: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.YX-N-M-417A .m-417A-goods .u-417A-goods:nth-child(3n) {
  margin-right: 0;
}
.YX-N-M-417A .m-417A-goods .u-417A-goods-s {
  margin-right: 0;
}
.YX-N-M-417A .m-417A-goods .u-417A-link {
  display: block;
  width: 346px;
  height: 346px;
  overflow: hidden;
}
.YX-N-M-417A .u-417A-goods img {
  display: block;
  width: 346px;
  height: 346px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.YX-N-M-417A .u-417A-goods img:hover {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.YX-N-M-417A .u-417A-goods .m-417A-goods-info {
  position: relative;
  width: 100%;
  margin-top: 27px;
  text-align: center;
}
.YX-N-M-417A .m-417A-goods-info .u-417A-goods-t {
  width: 208px;
  color: #333;
  margin: 0 auto;
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.YX-N-M-417A .m-417A-goods-info .u-417A-goods-t a {
  color: #333;
}
.YX-N-M-417A .m-417A-goods-info .u-417A-goods-t a:hover {
  color: #c09f74;
}
.YX-N-M-417A .m-417A-goods-info .u-417A-goods-maker {
  width: 208px;
  color: #aaa;
  margin: 8px auto;
  font-size: 12px;
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.YX-N-M-417A .m-417A-goods-info .u-417A-goods-price {
  width: 208px;
  margin: 0 auto 13px;
}
.YX-N-M-417A .u-417A-goods-price .u-417A-offPrice {
  display: inline-block;
  color: #c09f74;
  font-size: 20px;
  margin-right: 5px;
  line-height: 20px;
}
.YX-N-M-417A .u-417A-goods-price .u-417A-offPrice:before {
  content: "￥";
  color: #c09f74;
  font-size: 14px;
}
.YX-N-M-417A .u-417A-goods-price .u-417A-unitPrice {
  display: inline-block;
  color: #a5a5a5;
  font-size: 14px;
  text-decoration: line-through;
}
.YX-N-M-417A .u-417A-goods-price .u-417A-unitPrice:before {
  content: "￥";
  color: #a5a5a5;
  font-size: 14px;
}
.YX-N-M-417A .u-417A-goods-price .u-417A-unitPrice:after {
  content: "*";
  color: #a5a5a5;
  font-size: 14px;
}
.YX-N-M-417A .m-417A-btn {
  width: 208px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.YX-N-M-417A .m-417A-btn .u-417A-btn {
  display: inline-block;
  width: 96px;
  height: 28px;
  color: #fff;
  background: #c09f74;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
}
.YX-N-M-417A .m-417A-btn .u-417A-cart {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAAyVBMVEX////9//////3//v/An3TAn3L+//z69/P9/f7Zxq3An3a/oHT///z28erBoHb69vHp39H38evo3s3fzrnfzrfdzrbcybDJrYbEpHv49fH08Ojx6uHx6N/u49rr4tbs4dPq4dDo287n2svYx6rVvJ3MsI/BoXXCnnTDnnHAn3D9/Pv08e338ufx5tzr4tjo4dbt4Nbj08Dbxq3SupvJsIzHqYPCoHP58/Pizbrgy7bYx7PYyazYw6bVwKXTwKLQu5zEqIHEqH2+onqLb6xSAAABJklEQVQY02VP13LDMAwTSUu15R3PzGbvvbrn/39UKV36FOioIwESdxDnaHoQd3gZy2+8p+nTgf/eyApdnoNEDx5uiE3FzSXrLWfh3ODbT1cC3KWs37yjN+LHGB1fZ9JYVTXbQUBALjAC+SUUiHL6BIpVRSBIQEcOeUkM5CZAAGF4ROU5TWYxXRR8TcAcL0Ndm4UAf6t0tQ7DdSsNV2H7+sFuroCx1FftzGTkSymjeVcYQKnLIsvzPHsusiwfKhsy2E1DeyQQbGwwhfH81Nv3e4+93ba/7yokq9BF+9HC8eUsYu+USJg81NwM2ttGP0najW7HZV+yZuVlyB1h52dMfGyA6MlHp8FDSyaTCRJaWr1rZhEg1Ml5AiSE5d2TXxB7uYd5FQukP9UdFWuF7YtKAAAAAElFTkSuQmCC) no-repeat center center;
  text-align: center;
  vertical-align: middle;
}
