<div class="m-rule">
	<h6 class="u-h6-commet" data-h55970f92="tips">{{tips}}</h6>
	<h4 class="u-tt4 s-rules" style="background-image: url({{titleBg}});" data-h55970f92="titleBg"></h4>
	<div class="m-rules">
		<p class="u-line" data-h55970f92="rule_1">{{{rule_1}}}</p>
		<p class="u-line" data-h55970f92="rule_2">{{{rule_2}}}</p>
		<p class="u-line" data-h55970f92="rule_3">{{{rule_3}}}</p>
		<p class="u-line" data-h55970f92="rule_4">{{{rule_4}}}</p>
	</div>
</div>