<div class="YX-N-M-94FE m-section-module">
	<div class="J_module_info f-hide" style="display: none;">
		<div class="goodsId" data-goodsId="{{contentInfo.goodsId}}"></div>
		<div class="needScenePicUrl" data-needScenePicUrl="{{contentInfo.needScenePicUrl}}"></div>
	</div>
	<div class="m-94FE-inner" style="background-color: {{contentInfo.bgColor}}">
		<div class="m-94FE-title">
			<p class="u-94FE-title" data-h55970f92="title"><span>{{contentInfo.title}}</span></p>
			<p class="u-94FE-tip" data-h55970f92="tip1">{{contentInfo.tip1}}</p>
			<p class="u-94FE-tip" data-h55970f92="tip2">{{contentInfo.tip2}}</p>
		</div>
		<div class="m-94FE-goods" v-if="contentInfo.needScenePicUrl.value">
			{{#temp}}
			<div class="u-94FE-goods">
				{{#maker}}<div class="u-94FE-maker"><span>{{maker}}</span></div>{{/maker}}
				{{^maker}}<div class="u-94FE-maker"></div>{{/maker}}
				<a href="http://you.163.com/item/detail?id={{id}}" target="_blank" class="u-94FE-link">
					<img src="{{scenePicUrl}}" data-original="{{scenePicUrl}}" class="J_lazyload">
				</a>
				<div class="m-94FE-goods-info">
					<p class="u-94FE-goods-t"><a href="http://you.163.com/item/detail?id={{id}}" target="_blank">{{title}}</a></p>
					<p class="u-94FE-goods-price">
						<span class="u-94FE-offPrice">{{offPrice}}</span>
						{{#unitPrice}}<span class="u-B53B-unitPrice">{{unitPrice}}</span>{{/unitPrice}}
					</p>
					<div class="m-94FE-btn">
						<a href="http://you.163.com/item/detail?id={{id}}" target="_blank" class="u-94FE-btn">立即购买</a>
						<a href="javascript:;" target="_self" class="u-94FE-cart J_94FE_cart"></a>
					</div>
				</div>
			</div>
			{{/temp}}
		</div>	
		<div class="m-94FE-goods" v-if="!contentInfo.needScenePicUrl.value">
			{{#temp}}
			<div class="u-94FE-goods">
				{{#maker}}<div class="u-94FE-maker"><span>{{maker}}</span></div>{{/maker}}
				{{^maker}}<div class="u-94FE-maker"></div>{{/maker}}
				<a href="http://you.163.com/item/detail?id={{id}}" target="_blank" class="u-94FE-link">
					<img src="{{primaryPicUrl}}" data-original="{{primaryPicUrl}}" class="J_lazyload">
				</a>
				<div class="m-94FE-goods-info">
					<p class="u-94FE-goods-t"><a href="http://you.163.com/item/detail?id={{id}}" target="_blank">{{title}}</a></p>
					<p class="u-94FE-goods-price">
						<span class="u-94FE-offPrice">{{offPrice}}</span>
						{{#unitPrice}}<span class="u-B53B-unitPrice">{{unitPrice}}</span>{{/unitPrice}}
					</p>
					<div class="m-94FE-btn">
						<a href="http://you.163.com/item/detail?id={{id}}" target="_blank" class="u-94FE-btn">立即购买</a>
						<a href="javascript:;" target="_self" class="u-94FE-cart J_94FE_cart"></a>
					</div>
				</div>
			</div>
			{{/temp}}
		</div>		
	</div>
</div>
			