.YX-S-M-D500 .u-D500-icon-cart {
  display: inline-block;
  background: url(http://mimg.127.net/hz/uploader/20160922/14745168602960490.png) no-repeat;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  margin-left: 5px;
}
.YX-S-M-D500 .g-D500-inner {
  background-color: #f9f9f9;
  margin-top: 40px;
  height: 600px;
  width: 1090px;
  margin: 0 auto;
  position: relative;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece {
  position: absolute;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece img {
  border-style: none;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail {
  margin-top: 33px;
  float: right;
  display: inline-block;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .u-D500-tips {
  display: inline-block;
  padding: 0 10px;
  height: 18px;
  line-height: 18px;
  background-color: #f5f3ef;
  color: #bfa381;
  font-size: 12px;
  border: 1px solid #e1d9cb;
  text-align: center;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .u-D500-title {
  font-size: 18px;
  color: #565656;
  margin-top: 5px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .u-D500-prize {
  margin-top: 5px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .u-D500-prize .u-D500-real {
  font-size: 24px;
  color: #af3535;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .u-D500-prize .u-D500-real:before {
  content: "￥";
  color: #af3535;
  font-size: 24px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .u-D500-prize .u-D500-del {
  font-size: 12px;
  color: #ababab;
  text-decoration: line-through;
  margin-left: 10px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .u-D500-prize .u-D500-del:before {
  content: "￥";
  color: #ababab;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .btn {
  margin-top: 10px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece .m-D500-detail .btn .u-D500-btn {
  width: 120px;
  height: 28px;
  line-height: 28px;
  color: #FFF;
  font-size: 15px;
  background-color: #af3535;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: 0;
  text-align: center;
  vertical-align: middle;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece1 {
  width: 294px;
  height: 544px;
  top: 60px;
  left: 35px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece2 {
  left: 395px;
  top: 120px;
  width: 450px;
  height: 185px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece2 img {
  float: left;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece3 {
  height: 122px;
  width: 380px;
  top: 382px;
  left: 365px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece3 img {
  float: left;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 {
  background: url(http://mimg.127.net/hz/uploader/20160923/14745972420140921.png) no-repeat;
  width: 253px;
  height: 241px;
  top: 153px;
  left: 815px;
  padding-top: 200px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe {
  text-align: center;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-head {
  font-size: 30px;
  color: #565656;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-title {
  margin-top: 10px;
  font-size: 19px;
  color: #565656;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-prize {
  margin-top: 5px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-prize .u-D500-real {
  font-size: 24px;
  color: #af3535;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-prize .u-D500-real:before {
  content: "￥";
  color: #af3535;
  font-size: 24px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-prize .u-D500-del {
  font-size: 12px;
  color: #ababab;
  text-decoration: line-through;
  margin-left: 10px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-prize .u-D500-del:before {
  content: "￥";
  color: #ababab;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .btn {
  margin-top: 10px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .btn .u-D500-btn {
  width: 121px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  color: #FFF;
  background-color: #af3535;
  display: inline-block;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-offtips {
  margin-top: 10px;
  font-size: 20px;
  color: #474747;
  line-height: 23px;
}
.YX-S-M-D500 .g-D500-inner .m-D500-piece4 .m-D500-zuhe .u-D500-offtips:before {
  display: inline-block;
  content: '省';
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  background-color: #af3535;
  border-radius: 23px;
  vertical-align: top;
}
