<div class="YX-S-M-D500">
    <div class="g-D500-inner">
            <div class="m-D500-piece m-D500-piece1" data-h55970f92="combineImg_1">
            <img data-original="{{content.combineImg_1}}"  width="294" height="544" src="{{content.combineImg_1}}" style="display: inline;" class="J_lazyload">
            </div>
        {{#goods_1.show_2}}
            <div class="m-D500-piece m-D500-piece2">
                <a href="{{goods_1.combineLink_2}}" target="_blank" ><img data-original="{{goods_1.combineImg_2}}" width="236" height="184" class="u-img lazy" src="{{goods_1.combineImg_2}}" style="display: block;" class="J_lazyload"></a>
                <div class="m-D500-detail">
                    <div class="row u-D500-tips">{{goods_1.combineTips_2}}</div>
                    <div class="row u-D500-title">{{goods_1.combineTitle_2}}</div>
                    <div class="row u-D500-prize"><span class="u-D500-real">{{goods_1.combinePrizeReal_2}}</span><span class="u-D500-del">{{goods_1.combinePrizedel_2}}</span></div>
                    <div class="row btn"><a href="{{goods_1.combineLink_2}}" target="_blank" class="u-D500-btn" >单件购买</a>
                        <a href="javascript:;" data-img="http://mimg.127.net/hz/uploader/20160922/14745168605970528.jpg" data-skuid="1006002" class="icon u-D500-icon-cart J-cart" data-psc-stat="2b1d82d25d968949b567706d24a70598"></a>
                    </div>
                </div>
            </div>
        {{/goods_1.show_2}}
        {{#goods_2.show_3}}
            <div class="m-D500-piece m-D500-piece3">
                <a href="{{goods_2.combineLink_3}}" target="_blank" ><img data-original="{{goods_2.combineImg_3}}" width="196" height="122" class="u-img lazy" src="{{goods_2.combineImg_3}}" style="display: block;"></a>
                <div class="m-D500-detail">
                    <div class="row u-D500-tips">{{goods_2.combineTips_3}}</div>
                    <div class="row u-D500-title">{{goods_2.combineTitle_3}}</div>
                    <div class="row u-D500-prize"><span class="u-D500-real">{{goods_2.combinePrizeReal_3}}</span><span class="u-D500-del">{{goods_2.combinePrizedel_3}}</span></div>
                    <div class="row btn"><a href="{{goods_2.combineLink_3}}" target="_blank" class="u-D500-btn" >单件购买</a>
                        <a href="javascript:;" data-img="http://mimg.127.net/hz/uploader/20160922/14745168606040529.jpg" data-skuid="1019046" class="icon u-D500-icon-cart J-cart" data-psc-stat="2b1d82d25d968949b567706d24a70598"></a>
                    </div>
                </div>
            </div>
        {{/goods_2.show_3}}
        {{#goods_3.show_4}}
            <div class="m-D500-piece m-D500-piece4">
                <div class="m-D500-zuhe">
                    <div class="row u-D500-head">{{goods_3.combineHead_4}}</div>
                    <div class="row u-D500-title">{{goods_3.combineTitle_4}}</div>
                    <div class="row u-D500-prize"><span class="u-D500-real">{{goods_3.combinePrizeReal_4}}</span><span class="u-D500-del">{{goods_3.combinePrizedel_4}}</span></div>
                    <div class="row btn"><a href="{{goods_3.combineLink_4}}" target="_blank" class="u-D500-btn">搭配购买</a>
                        <a href="javascript:;" data-img="http://yanxuan.nosdn.127.net/1be1e906a1283c529cfcff725b24376d.jpg" data-skuid="1091028" class="icon u-D500-icon-cart J-cart"></a>
                    </div>
                    <div class="row u-D500-offtips">{{goods_3.combineOfftip_4}}元</div>
                </div>
            </div>
          {{/goods_3.show_4}}
    </div>
</div>